<h2 class="title">下拉菜单</h2>
<p>下拉菜单，用于以列表格式显示链接的上下文菜单</p>

<h3>1. 点击展开</h3>
<div class="dropdown-dome">
  <nc-dropdown>
    <nc-button nc-dropdown-btn>下拉菜单</nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<div class="dropdown-dome">
  <nc-dropdown [place]="'top'">
    <nc-button nc-dropdown-btn>下拉菜单</nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<div class="dropdown-dome">
  <nc-dropdown [place]="'left'">
    <nc-button nc-dropdown-btn>下拉菜单</nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<div class="dropdown-dome">
  <nc-dropdown [place]="'right'">
    <nc-button nc-dropdown-btn>下拉菜单</nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:200px;">
    <nc-dropdown>
      <nc-button nc-dropdown-btn>下拉菜单</nc-button>
      <ul nc-dropdown-menu class="dropdown-items">
        <li *ngFor="let option of options" (click)="option.callback()">
          {{option?.name}}
        </li>
      </ul>
    </nc-dropdown>
    <nc-dropdown [place]="'top'">
      <nc-button nc-dropdown-btn>下拉菜单</nc-button>
      <ul nc-dropdown-menu class="dropdown-items">
        <li *ngFor="let option of options" (click)="option.callback()">
          {{option?.name}}
        </li>
      </ul>
    </nc-dropdown>
    <nc-dropdown [place]="'left'">
      <nc-button nc-dropdown-btn>下拉菜单</nc-button>
      <ul nc-dropdown-menu class="dropdown-items">
        <li *ngFor="let option of options" (click)="option.callback()">
          {{option?.name}}
        </li>
      </ul>
    </nc-dropdown>
    <nc-dropdown [place]="'right'">
      <nc-button nc-dropdown-btn>下拉菜单</nc-button>
      <ul nc-dropdown-menu class="dropdown-items">
        <li *ngFor="let option of options" (click)="option.callback()">
          {{option?.name}}
        </li>
      </ul>
    </nc-dropdown>
    </textarea>
  </div>
  <div *ngIf="currentTab === 'typescript'">
    <textarea style="height:180px;">
    options : any[] = [{name:'阿里巴巴',disable:false,callback: () => {console.log('阿里巴巴');}},
      {name:'百度',disable:false,callback: () => {console.log('百度');}},
      {name:'小米',disable:false,callback: () => {console.log('小米');}},
      {name:'新浪',disable:false,callback: () => {console.log('网易');}}];
    </textarea>
  </div>
</nc-tab>

<h3>2. 浮动展开</h3>
<div class="dropdown-dome">
  <nc-dropdown [type]="'hover'">
    <nc-button nc-dropdown-btn>下拉菜单</nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<div class="dropdown-dome">
  <nc-dropdown [type]="'hover'" [place]="'top'">
    <nc-button nc-dropdown-btn>下拉菜单</nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<div class="dropdown-dome">
  <nc-dropdown [type]="'hover'" [place]="'left'">
    <nc-button nc-dropdown-btn>下拉菜单</nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<div class="dropdown-dome">
  <nc-dropdown [type]="'hover'" [place]="'right'">
    <nc-button nc-dropdown-btn>下拉菜单</nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [(selectTab)] = "currentTab2">
  <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:200px;">
    <nc-dropdown [type]="'hover'">
      <nc-button nc-dropdown-btn>下拉菜单</nc-button>
      <ul nc-dropdown-menu class="dropdown-items">
        <li *ngFor="let option of options" (click)="option.callback()">
          {{option?.name}}
        </li>
      </ul>
    </nc-dropdown>
    <nc-dropdown [type]="'hover'" [place]="'top'">
      <nc-button nc-dropdown-btn>下拉菜单</nc-button>
      <ul nc-dropdown-menu class="dropdown-items">
        <li *ngFor="let option of options" (click)="option.callback()">
          {{option?.name}}
        </li>
      </ul>
    </nc-dropdown>
    <nc-dropdown [type]="'hover'" [place]="'left'">
      <nc-button nc-dropdown-btn>下拉菜单</nc-button>
      <ul nc-dropdown-menu class="dropdown-items">
        <li *ngFor="let option of options" (click)="option.callback()">
          {{option?.name}}
        </li>
      </ul>
    </nc-dropdown>
    <nc-dropdown [type]="'hover'" [place]="'right'">
      <nc-button nc-dropdown-btn>下拉菜单</nc-button>
      <ul nc-dropdown-menu class="dropdown-items">
        <li *ngFor="let option of options" (click)="option.callback()">
          {{option?.name}}
        </li>
      </ul>
    </nc-dropdown>
    </textarea>
  </div>
  <div *ngIf="currentTab2 === 'typescript'">
    <textarea style="height:180px;">
    options : any[] = [{name:'阿里巴巴',disable:false,callback: () => {console.log('阿里巴巴');}},
      {name:'百度',disable:false,callback: () => {console.log('百度');}},
      {name:'小米',disable:false,callback: () => {console.log('小米');}},
      {name:'新浪',disable:false,callback: () => {console.log('网易');}}];
    </textarea>
  </div>
</nc-tab>

<h3>3. 带图标</h3>
<div class="dropdown-dome">
  <nc-dropdown>
    <nc-button nc-dropdown-btn>
      下拉菜单<span class="fa fa-chevron-down carcat-icon"></span>
    </nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<div class="dropdown-dome">
  <nc-dropdown>
    <nc-button nc-dropdown-btn>
      下拉菜单<span class="fa fa-cubes carcat-icon"></span></nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems3" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:200px;">
    <nc-dropdown>
      <nc-button nc-dropdown-btn>
        下拉菜单<span class="fa fa-chevron-down carcat-icon"></span>
      </nc-button>
      <ul nc-dropdown-menu class="dropdown-items">
        <li *ngFor="let option of options" (click)="option.callback()">
          {{option?.name}}
        </li>
      </ul>
    </nc-dropdown>
    <nc-dropdown>
      <nc-button nc-dropdown-btn>
        下拉菜单<span class="fa fa-cubes carcat-icon"></span></nc-button>
      <ul nc-dropdown-menu class="dropdown-items">
        <li *ngFor="let option of options" (click)="option.callback()">
          {{option?.name}}
        </li>
      </ul>
    </nc-dropdown>
    </textarea>
  </div>
</nc-tab>

<h3>4. 带分割线和禁用项</h3>
<div class="dropdown-dome">
  <nc-dropdown>
    <nc-button nc-dropdown-btn>
      下拉菜单<span class="fa fa-chevron-down carcat-icon"></span>
    </nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li>阿里巴巴</li>
      <li>百度</li>
      <li>小米</li>
      <li nc-item-divider></li>
      <li class="disable">新浪</li>
      <li>网易</li>
    </ul>
  </nc-dropdown>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems3" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:200px;">
    <nc-dropdown>
      <nc-button nc-dropdown-btn>
        下拉菜单<span class="fa fa-chevron-down carcat-icon"></span>
      </nc-button>
      <ul nc-dropdown-menu class="dropdown-items">
        <li>阿里巴巴</li>
        <li>百度</li>
        <li>小米</li>
        <li nc-item-divider></li>
        <li class="disable">新浪</li>
        <li>网易</li>
      </ul>
    </nc-dropdown>
    </textarea>
  </div>
</nc-tab>

<h3>5. 多级菜单</h3>
<div class="dropdown-dome">
  <nc-dropdown>
    <nc-button nc-dropdown-btn>
      多级菜单<span class="fa fa-chevron-down carcat-icon"></span>
    </nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li>阿里巴巴</li>
      <li>百度</li>
      <li nc-sub-dropdown>
        <span>小米<span class="fa fa-chevron-right sub-carcat-icon"></span></span>
        <ul class="dropdown-items">
          <li>新浪</li>
          <li>网易</li>
        </ul>
      </li>
    </ul>
  </nc-dropdown>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems3" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:200px;">
    <nc-dropdown>
      <nc-button nc-dropdown-btn>
        多级菜单<span class="fa fa-chevron-down carcat-icon"></span>
      </nc-button>
      <ul nc-dropdown-menu class="dropdown-items">
        <li>阿里巴巴</li>
        <li>百度</li>
        <li nc-sub-dropdown>
          <span>小米<span class="fa fa-chevron-right sub-carcat-icon"></span></span>
          <ul class="dropdown-items">
            <li>新浪</li>
            <li>网易</li>
          </ul>
        </li>
      </ul>
    </nc-dropdown>
    </textarea>
  </div>
</nc-tab>

<h3>6. 辅助第二显示位置</h3>
<div class="dropdown-dome">
  <nc-dropdown [subPlace]="'right'">
    <nc-button nc-dropdown-btn>菜单down/right</nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<div class="dropdown-dome">
  <nc-dropdown [place]="'top'" [subPlace]="'right'">
    <nc-button nc-dropdown-btn>菜单top/right</nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<div class="dropdown-dome">
  <nc-dropdown [place]="'top'" [subPlace]="'top'">
    <nc-button nc-dropdown-btn>菜单top/top</nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<div class="dropdown-dome">
  <nc-dropdown [place]="'left'" [subPlace]="'top'">
    <nc-button nc-dropdown-btn>菜单left/top</nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<div class="dropdown-dome">
  <nc-dropdown [place]="'left'" [subPlace]="'down'">
    <nc-button nc-dropdown-btn>菜单left/down</nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<div class="dropdown-dome">
  <nc-dropdown [place]="'right'" [subPlace]="'down'">
    <nc-button nc-dropdown-btn>菜单right/down</nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<div class="dropdown-dome">
  <nc-dropdown [place]="'right'" [subPlace]="'right'">
    <nc-button nc-dropdown-btn>菜单right/right</nc-button>
    <ul nc-dropdown-menu class="dropdown-items">
      <li *ngFor="let option of options" (click)="option.callback()">
        {{option.name}}
      </li>
    </ul>
  </nc-dropdown>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:200px;">
        <nc-dropdown [subPlace]="'right'">
          <nc-button nc-dropdown-btn>菜单down/right</nc-button>
          <ul nc-dropdown-menu class="dropdown-items">
            <li *ngFor="let option of options" (click)="option.callback()">
              {{option?.name}}
            </li>
          </ul>
        </nc-dropdown>
        <nc-dropdown [place]="'top'" [subPlace]="'right'">
          <nc-button nc-dropdown-btn>菜单top/right</nc-button>
          <ul nc-dropdown-menu class="dropdown-items">
            <li *ngFor="let option of options" (click)="option.callback()">
              {{option?.name}}
            </li>
          </ul>
        </nc-dropdown>
        <nc-dropdown [place]="'top'" [subPlace]="'top'">
          <nc-button nc-dropdown-btn>菜单top/top</nc-button>
          <ul nc-dropdown-menu class="dropdown-items">
            <li *ngFor="let option of options" (click)="option.callback()">
              {{option?.name}}
            </li>
          </ul>
        </nc-dropdown>
        <nc-dropdown [place]="'left'" [subPlace]="'top'">
          <nc-button nc-dropdown-btn>菜单left/top</nc-button>
          <ul nc-dropdown-menu class="dropdown-items">
            <li *ngFor="let option of options" (click)="option.callback()">
              {{option?.name}}
            </li>
          </ul>
        </nc-dropdown>
        <nc-dropdown [place]="'left'" [subPlace]="'down'">
          <nc-button nc-dropdown-btn>菜单left/down</nc-button>
          <ul nc-dropdown-menu class="dropdown-items">
            <li *ngFor="let option of options" (click)="option.callback()">
              {{option?.name}}
            </li>
          </ul>
        </nc-dropdown>
        <nc-dropdown [place]="'right'" [subPlace]="'down'">
          <nc-button nc-dropdown-btn>菜单right/down</nc-button>
          <ul nc-dropdown-menu class="dropdown-items">
            <li *ngFor="let option of options" (click)="option.callback()">
              {{option?.name}}
            </li>
          </ul>
        </nc-dropdown>
        <nc-dropdown [place]="'right'" [subPlace]="'right'">
          <nc-button nc-dropdown-btn>菜单right/right</nc-button>
          <ul nc-dropdown-menu class="dropdown-items">
            <li *ngFor="let option of options" (click)="option.callback()">
              {{option?.name}}
            </li>
          </ul>
        </nc-dropdown>
    </textarea>
  </div>
  <div *ngIf="currentTab === 'typescript'">
    <textarea style="height:180px;">
    options : any[] = [{name:'阿里巴巴',disable:false,callback: () => {console.log('阿里巴巴');}},
      {name:'百度',disable:false,callback: () => {console.log('百度');}},
      {name:'小米',disable:false,callback: () => {console.log('小米');}},
      {name:'新浪',disable:false,callback: () => {console.log('网易');}}];
    </textarea>
  </div>
</nc-tab>

<h3>nc-dropdown--参数</h3>
<table>
  <thead>
  <tr>
    <th>参数</th>
    <th>说明</th>
    <th>默认值</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>type</td>
    <td>菜单展开方式,click/hover</td>
    <td>click</td>
  </tr>
  <tr>
    <td>place</td>
    <td>菜单显示位置,down/up/left/right</td>
    <td>down</td>
  </tr>
  <tr>
    <td>subPlace</td>
    <td>辅助第二显示位置,down/up/left/right</td>
    <td>left</td>
  </tr>
  </tbody>
</table>
