<h2 class="title">Flex布局</h2>
<p>Flex布局,常用的页面布局</p>
<br/>
<h3>1.常用布局方式</h3>
<div class="nc-layout" style="border: solid 1px #999;">
    <div class="nc-header nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        header
    </div>
    <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:100px;">
        content
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<br/>
<div class="nc-layout" style="border: solid 1px #999;">
    <div class="nc-header nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        header
    </div>
    <div class="nc-layout nc-flex nc-row" style="height:100px;">
        <div class="nc-sider nc-flex nc-content-center nc-align-item-center" style="width:200px;height:100%;">
            sider
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:100%;">
            content
        </div>
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<br/>
<div class="nc-layout nc-flex nc-row" style="height:180px;border: solid 1px #999;">
    <div class="nc-sider nc-flex nc-content-center nc-align-item-center" style="width:200px;height:100%;">
        sider
    </div>
    <div class="nc-layout">
        <div class="nc-header nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            header
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:calc(100% - 100px);">
            content
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
    <div *ngIf="currentTab === 'html'">
    <textarea style="height:300px;">
    <div class="nc-layout">
        <div class="nc-header nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            header
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:100px;">
            content
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
    <br/>
    <div class="nc-layout">
        <div class="nc-header nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            header
        </div>
        <div class="nc-layout nc-flex nc-row" style="height:100px;">
            <div class="nc-sider nc-flex nc-content-center nc-align-item-center" style="width:200px;height:100%;">
                sider
            </div>
            <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:100%;">
                content
            </div>
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
    <br/>
    <div class="nc-layout nc-flex nc-row" style="height:180px;">
        <div class="nc-sider nc-flex nc-content-center nc-align-item-center" style="width:200px;height:100%;">
            sider
        </div>
        <div class="nc-layout">
            <div class="nc-header nc-flex nc-content-center nc-align-item-center" style="height:50px;">
                header
            </div>
            <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:calc(100% - 100px);">
                content
            </div>
            <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
                footer@Ng-Cat By Angular
            </div>
        </div>
    </div>
    </textarea>
    </div>
</nc-tab>

<h3>2.常用布局和导航菜单组合</h3>
<h1>上中下</h1>
<div class="nc-layout">
    <div class="nc-header nc-flex nc-align-item-center" style="width:100%;height:60px;">
        <div class="nc-header-logo-area" style="width:200px;">
            <span class="nc-header-logo">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                <span>Logo</span>
            </span>
        </div>
        <div class="nc-header-menu">
            <nc-menu [type]="menuItems.type" [place]="menuItems.place" [navItems]="menuItems.navItems"></nc-menu>
        </div>
    </div>
    <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:120px;">
        content
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<br/>
<h1>上-中(左右)-下</h1>
<div class="nc-layout">
    <div class="nc-header nc-flex nc-align-item-center" style="width:100%;height:60px;">
        <div class="nc-header-logo-area" style="width:240px;">
            <span class="nc-header-logo">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                <span>Logo</span>
            </span>
            <div class="nc-anticon-menu">
                <div class="nc-anticon"></div>
            </div>
        </div>
        <div class="nc-header-menu">
            <nc-menu [type]="menuItems.type" [place]="menuItems.place" [navItems]="menuItems.navItems"></nc-menu>
        </div>
    </div>
    <div class="nc-layout nc-flex nc-row">
        <div class="nc-sider" style="width:240px;">
            <nc-menu [type]="menuItems2.type" [place]="menuItems2.place" [navItems]="menuItems2.navItems" [color]="'#d9d9d9'"></nc-menu>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:100%;">
            content
        </div>
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<br/>
<h1>左-右(上中下)</h1>
<div class="nc-layout nc-flex nc-row">
    <div class="nc-sider" style="height: 100%;width: 260px;">
        <nc-menu [type]="menuItems2.type" [place]="menuItems2.place" [navItems]="menuItems2.navItems" [color]="'#d9d9d9'"></nc-menu>
    </div>
    <div class="nc-layout">
        <div class="nc-header" style="height:50px;">
            <nc-menu [type]="menuItems.type" [place]="menuItems.place" [navItems]="menuItems.navItems"></nc-menu>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:calc(100% - 100px);">
            content
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
</div>
<br/>
<h1>带滚动条</h1>
<div class="nc-layout" style="height:360px;">
    <div class="nc-header nc-flex nc-align-item-center" style="width:100%;height:60px;">
        <div class="nc-header-logo-area" style="width:240px;">
            <span class="nc-header-logo">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                <span>Logo</span>
            </span>
            <div class="nc-anticon-menu">
                <div class="nc-anticon"></div>
            </div>
        </div>
        <div class="nc-header-menu">
            <nc-menu [type]="menuItems.type" [place]="menuItems.place" [navItems]="menuItems.navItems"></nc-menu>
        </div>
    </div>
    <div class="nc-layout nc-flex nc-row" style="height:calc(100% - 100px);">
        <div class="nc-sider" style="width:240px;">
            <nc-menu [type]="menuItems2.type" [place]="menuItems2.place" [navItems]="menuItems2.navItems"
                     [color]="'#d9d9d9'" [isScroll]="true"></nc-menu>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:100%;">
            content
        </div>
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<br/>

<div class="nc-layout nc-flex nc-row" style="height: 300px;">
    <div class="nc-sider" style="height: 100%;width: 260px;">
        <nc-menu [type]="menuItems2.type" [place]="menuItems2.place" [navItems]="menuItems2.navItems"
                 [color]="'#d9d9d9'" [isScroll]="true"></nc-menu>
    </div>
    <div class="nc-layout">
        <div class="nc-header" style="height:50px;">
            <nc-menu [type]="menuItems.type" [place]="menuItems.place" [navItems]="menuItems.navItems"></nc-menu>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:calc(100% - 100px);">
            content
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
</div>

<h1>带滚动条</h1>


<h1>侧边栏浮动</h1>
<div class="nc-layout">
    <div class="nc-header nc-flex nc-align-item-center" style="width:100%;height:60px;">
        <div class="nc-header-logo-area" style="width:240px;">
            <span class="nc-header-logo">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                <span>Logo</span>
            </span>
            <div class="nc-anticon-menu">
                <div class="nc-anticon"></div>
            </div>
        </div>
        <div class="nc-header-menu">
            <nc-menu [type]="menuItems.type" [place]="menuItems.place" [navItems]="menuItems.navItems"></nc-menu>
        </div>
    </div>
    <div class="nc-layout nc-flex nc-row">
        <div class="nc-sider" style="width:240px;">
            <nc-menu [type]="menuItems3.type" [place]="menuItems3.place" [navItems]="menuItems3.navItems"
                     [color]="'#d9d9d9'"></nc-menu>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:100%;">
            content
        </div>
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<br/>

<div class="nc-layout nc-flex nc-row">
    <div class="nc-sider" style="height: 100%;width: 260px;">
        <nc-menu [type]="menuItems3.type" [place]="menuItems3.place" [navItems]="menuItems3.navItems"
                 [color]="'#d9d9d9'"></nc-menu>
    </div>
    <div class="nc-layout">
        <div class="nc-header" style="height:50px;">
            <nc-menu [type]="menuItems.type" [place]="menuItems.place" [navItems]="menuItems.navItems"></nc-menu>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:calc(100% - 100px);">
            content
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
</div>


<!--p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
    <div *ngIf="currentTab === 'html'">
    <textarea style="height:500px;">
    <div class="nc-layout">
        <div class="nc-header nc-flex nc-content-center nc-align-item-center backcolor-header">
            <div class="nc-header-logo">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                <span>Logo</span>
            </div>
            <div class="nc-header-menu">
                <nc-menu class="nc-header-menu-nav" [type]="menuItems.type" [navItems]="menuItems.navItems"></nc-menu>
            </div>
        </div>
        <div class="nc-content nc-content-center nc-align-item-center">
            <div class="nc-content-inner">content</div>
        </div>
        <div class="nc-footer nc-content-center nc-align-item-center">
            <div class="nc-autor">footer@Ng-Cat By Angular</div>
        </div>
    </div>

    <br/>

    <div class="nc-layout">
        <div class="nc-header nc-flex nc-content-center nc-align-item-center">
            <div class="nc-header-logo nc-header-logo-2">
                <span class="nc-logo">
                  <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                  <span>Logo</span>
                </span>
            </div>
            <div class="nc-header-menu">
                <nc-menu class="nc-header-menu-nav" [type]="menuItems.type" [navItems]="menuItems.navItems"></nc-menu>
            </div>
        </div>
        <div class="nc-layout nc-row">
            <div class="nc-sider nc-content-center nc-align-item-center">
                <nc-menu [type]="menuItems2.type" [place]="menuItems2.place" [navItems]="menuItems2.navItems"></nc-menu>
            </div>
            <div class="nc-content nc-content-center nc-align-item-center">
                <div class="nc-content-inner">content</div>
            </div>
        </div>
        <div class="nc-footer nc-content-center nc-align-item-center">
            <div class="nc-autor">footer@Ng-Cat By Angular</div>
        </div>
    </div>

    <br/>

    <div class="nc-layout nc-row">
        <div class="nc-sider nc-content-center nc-align-item-center">
            <nc-menu [type]="menuItems3.type" [place]="menuItems3.place" [navItems]="menuItems3.navItems" [width]="'200px'"></nc-menu>
        </div>
        <div class="nc-layout">
            <div class="nc-header" style="display: block;">
                <nc-menu class="nc-header-menu-nav" [type]="menuItems.type" [navItems]="menuItems.navItems"></nc-menu>
            </div>
            <div class="nc-content nc-content-center nc-align-item-center" style="height: calc(100% - 100px)">
                <div class="nc-content-inner">content</div>
            </div>
            <div class="nc-footer nc-content-center nc-align-item-center">
                <div class="nc-autor">footer@Ng-Cat By Angular</div>
            </div>
        </div>
    </div>
    </textarea>
    </div>

    <div *ngIf="currentTab === 'typescript'">
    <textarea style="height:500px;">
    menuItems : any = {
        type: 'horizontal',
        place: '',
        navItems: [
            {title:'Navigation One',
                icon:'nc-icon fa fa-car',
                isActive:false,
                callback: () => {console.log('click menu item!');}
            },
            {title:'Navigation Two',
                icon:'nc-icon fa fa-camera',
                isActive:true,
                callback: () => {console.log('click menu item!');}
            },
            {title:'Navigation There',
                icon:'nc-icon fa fa-coffee',
                isActive:false,
                callback: () => {console.log('click menu item!');},
                childs: {
                    type:'vertical',place: 'down',
                    navItems: [
                        {title:'option5',icon:'',isActive:false,
                            callback: () => {console.log('click menu item!');}},
                        {title:'option6',icon:'',isActive:false,
                            callback: () => {console.log('click menu item!');}}
                    ]
                }
            },
            {title:'Navigation Four',
                icon:'nc-icon fa fa-cubes',
                isActive:false,
                callback: () => {console.log('click menu item!');}
            },
            {title:'Navigation Five',
                icon:'nc-icon fa fa-wifi',
                isActive:false,
                callback: () => {console.log('click menu item!');}
            }
        ]
    };
    menuItems2 : any = {
        type: 'vertical',
        place: 'down',
        navItems: [
            {title:'Navigation One',
                icon:'nc-icon fa fa-car',
                isActive:false,
                callback: () => {console.log('click menu item!');},
                childs: {
                    type:'vertical',place: 'down',isShow:false,
                    navItems: [
                        {title:'option1',icon:'',isActive:false,type:'vertical',place: 'down',
                            callback: () => {console.log('click menu item!');}},
                        {title:'option2',icon:'',isActive:false,type:'vertical',place: 'down',
                            callback: () => {console.log('click menu item!');},
                            childs: {
                                type:'vertical',place: 'down',isShow:false,
                                navItems: [
                                    {title:'option3',icon:'',isActive:false,
                                        callback: () => {console.log('click menu item!');}},
                                    {title:'option4',icon:'',isActive:false,
                                        callback: () => {console.log('click menu item!');}}
                                ]
                            }
                        }
                    ]
                }
            },
            {title:'Navigation Two',
                icon:'nc-icon fa fa-camera',
                isActive:false,
                callback: () => {console.log('click menu item!');},
                childs: {
                    type:'vertical',place: 'down',isShow:false,
                    navItems: [
                        {title:'option5',icon:'',isActive:false,
                            callback: () => {console.log('click menu item!');}},
                        {title:'option6',icon:'',isActive:false,
                            callback: () => {console.log('click menu item!');}}
                    ]
                }
            },
            {title:'Navigation There',
                icon:'nc-icon fa fa-coffee',
                isActive:true,
                callback: () => {console.log('click menu item!');},
            },
            {title:'Navigation Four',
                icon:'nc-icon fa fa-cubes',
                isActive:false,
                callback: () => {console.log('click menu item!');}
            },
            {title:'Navigation Five',
                icon:'nc-icon fa fa-wifi',
                isActive:false,
                callback: () => {console.log('click menu item!');}
            }
        ]
    };
    menuItems3 : any = {
        type: 'vertical',
        place: 'right',
        navItems: [
            {title:'Navigation One',
                icon:'nc-icon fa fa-car',
                isActive:false,
                callback: () => {console.log('click menu item!');},
                childs: {
                    type:'vertical',place: 'down',
                    navItems: [
                        {title:'option1',icon:'',isActive:false,type:'vertical',place: 'down',
                            callback: () => {console.log('click menu item!');}},
                        {title:'option2',icon:'',isActive:false,type:'vertical',place: 'down',
                            callback: () => {console.log('click menu item!');},
                            childs: {
                                type:'vertical',place: 'down',
                                navItems: [
                                    {title:'option3',icon:'',isActive:false,
                                        callback: () => {console.log('click menu item!');}},
                                    {title:'option4',icon:'',isActive:false,
                                        callback: () => {console.log('click menu item!');}}
                                ]
                            }
                        }
                    ]
                }
            },
            {title:'Navigation Two',
                icon:'nc-icon fa fa-camera',
                isActive:true,
                callback: () => {console.log('click menu item!');}
            },
            {title:'Navigation There',
                icon:'nc-icon fa fa-coffee',
                isActive:false,
                callback: () => {console.log('click menu item!');},
                childs: {
                    type:'vertical',place: 'down',
                    navItems: [
                        {title:'option5',icon:'',isActive:false,
                            callback: () => {console.log('click menu item!');}},
                        {title:'option6',icon:'',isActive:false,
                            callback: () => {console.log('click menu item!');}}
                    ]
                }
            },
            {title:'Navigation Four',
                icon:'nc-icon fa fa-cubes',
                isActive:false,
                callback: () => {console.log('click menu item!');}
            },
            {title:'Navigation Five',
                icon:'nc-icon fa fa-wifi',
                isActive:false,
                callback: () => {console.log('click menu item!');}
            }
        ]
    };
    </textarea>
    </div>
</nc-tab>-->

<h3>nc-menu--参数</h3>
<table>
    <thead>
    <tr>
        <th>参数</th>
        <th>说明</th>
        <th>默认值</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td>导航类型，horizontal/vertical</td>
        <td>horizontal</td>
    </tr>
    <tr>
        <td>place</td>
        <td>菜单展开方式,down/right</td>
        <td></td>
    </tr>
    <tr>
        <td>navItems</td>
        <td>导航菜单项</td>
        <td>[]</td>
    </tr>
    <tr>
        <td>height</td>
        <td>导航高度</td>
        <td>50px</td>
    </tr>
    <tr>
        <td>width</td>
        <td>导航宽</td>
        <td>180px</td>
    </tr>
    </tbody>
</table>