.nc-header-menu >>> .nc-menu-horizontal {
    border-bottom:none;
}
.nc-header >>> .nc-menu-horizontal {
    border-bottom:none;
}

ul.backcolor-header {
    background:#f2f2f2;
    border-bottom:none;
}

.demo-content {
    width:100%;
    padding:20px;
}
.demo-footer {
    width:100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.demo-side {
    width:160px;
    background:#80aaff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 214px;
}
.nc-autor {
    color:#fff;
    background:#2952a3;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nc-content-inner {
    width:100%;
    height:100%;
    background:#f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nc-sidebars-hidden {
    margin-left: -240px;
    overflow-x: hidden;
    visibility: hidden;
}
.menu-header {
    height: 60px;
}
@media (max-width:760px) {
    .menu-header {
        height: auto;
    }
    .menu-header2 {
        overflow-y: auto;
        overflow-x: hidden;
    }
}