.nc-header-menu-nav >>> .nc-menu-horizontal {
    background:#d9d9d9;
    border-bottom:none;
}


.nc-autor {
    color:#fff;
    background:#2952a3;
    height: 50px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
ul.backcolor-header {
    background:#d9d9d9;
    border-bottom:none;
}
.nc-content-inner {
    width:100%;
    height:100%;
    background:#f2f2f2;
    padding: 20px;
    box-sizing: border-box;
}
.demo-header {
    width:100%;
    padding:20px;
}
.demo-content {
    width:100%;
    padding:20px;
}
.demo-footer {
    width:100%;
    padding:20px;
}
.demo-side {
    width:160px;
    background:#80aaff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}