<h2 class="title">导航菜单</h2>
<p>导航菜单,常用于网页的首页布局等</p>

<h1>1.常用布局方式</h1>
<h4>类型一</h4>
<div class="nc-layout" style="border: solid 1px #999;">
    <div class="nc-header nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        header
    </div>
    <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:100px;">
        content
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<h4>类型二</h4>
<div class="nc-layout" style="border: solid 1px #999;">
    <div class="nc-header nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        header
    </div>
    <div class="nc-layout nc-flex nc-row" style="height:100px;">
        <div class="nc-sider nc-flex nc-content-center nc-align-item-center" style="width:200px;height:100%;">
            sider
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:100%;">
            content
        </div>
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<h4>类型三</h4>
<div class="nc-layout nc-flex nc-row" style="height:180px;border: solid 1px #999;">
    <div class="nc-sider nc-flex nc-content-center nc-align-item-center" style="width:200px;height:100%;">
        sider
    </div>
    <div class="nc-layout" style="height: inherit;">
        <div class="nc-header nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            header
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:calc(100% - 100px);">
            content
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
    <div *ngIf="currentTab === 'html'">
    <textarea style="height:500px;">
    <h4>类型一</h4>
    <div class="nc-layout" style="border: solid 1px #999;">
        <div class="nc-header nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            header
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:100px;">
            content
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
    <h4>类型二</h4>
    <div class="nc-layout" style="border: solid 1px #999;">
        <div class="nc-header nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            header
        </div>
        <div class="nc-layout nc-flex nc-row" style="height:100px;">
            <div class="nc-sider nc-flex nc-content-center nc-align-item-center" style="width:200px;height:100%;">
                sider
            </div>
            <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:100%;">
                content
            </div>
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
    <h4>类型三</h4>
    <div class="nc-layout nc-flex nc-row" style="height:180px;border: solid 1px #999;">
        <div class="nc-sider nc-flex nc-content-center nc-align-item-center" style="width:200px;height:100%;">
            sider
        </div>
        <div class="nc-layout" style="height: inherit;">
            <div class="nc-header nc-flex nc-content-center nc-align-item-center" style="height:50px;">
                header
            </div>
            <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:calc(100% - 100px);">
                content
            </div>
            <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
                footer@Ng-Cat By Angular
            </div>
        </div>
    </div>
    </textarea>
    </div>
</nc-tab>

<h1>2.常用布局和导航菜单组合</h1>
<h4>类型-1-基础类型</h4>
<div class="nc-layout">
    <div class="nc-header nc-flex nc-align-item-center menu-header" style="width:100%;">
        <div class="nc-header-logo-area" style="width:200px;">
            <span class="nc-header-logo">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                <span>Logo</span>
            </span>
        </div>
        <div class="nc-header-menu">
            <nc-menu [type]="menuItems.type" [place]="menuItems.place" [navItems]="menuItems.navItems"
                     [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
        </div>
    </div>
    <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:120px;">
        content
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [(selectTab)] = "currentTab2">
    <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:200px;">
    <div class="nc-layout">
        <div class="nc-header nc-flex nc-align-item-center menu-header"" style="width:100%;">
            <div class="nc-header-logo-area" style="width:200px;">
                <span class="nc-header-logo">
                    <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                    <span>Logo</span>
                </span>
            </div>
            <div class="nc-header-menu">
                <nc-menu [type]="menuItems.type" [place]="menuItems.place" [navItems]="menuItems.navItems"
                         [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
            </div>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:120px;">
            content
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
    </textarea>
    </div>
</nc-tab>

<h4>类型-2-点击展开</h4>
<div class="nc-layout">
    <div class="nc-header nc-flex nc-align-item-center menu-header" style="width:100%;">
        <div class="nc-header-logo-area" style="width:240px;">
            <span class="nc-header-logo">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                <span>Logo</span>
            </span>
            <div class="nc-anticon-menu" (click)="extendSideMenu(0)">
                <div class="nc-anticon"></div>
            </div>
        </div>
        <div class="nc-header-menu">
            <nc-menu [type]="menuItems4.type" [place]="menuItems4.place" [navItems]="menuItems4.navItems"
                     [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
        </div>
    </div>
    <div class="nc-layout nc-flex nc-row">
        <div class="nc-sider" style="width:240px;height: 100%;" [class.nc-sidebars-hidden]="!showSideMenus[0]">
            <nc-menu [type]="menuItems2.type" [place]="menuItems2.place" [navItems]="menuItems2.navItems"
                     [color]="'#d9d9d9'" [url]="'/Navigation-3'"></nc-menu>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center">
            content
        </div>
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [(selectTab)] = "currentTab2">
    <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:200px;">
    <div class="nc-layout">
        <div class="nc-header nc-flex nc-align-item-center menu-header" style="width:100%;">
            <div class="nc-header-logo-area" style="width:240px;">
                <span class="nc-header-logo">
                    <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                    <span>Logo</span>
                </span>
                <div class="nc-anticon-menu" (click)="extendSideMenu(0)">
                    <div class="nc-anticon"></div>
                </div>
            </div>
            <div class="nc-header-menu">
                <nc-menu [type]="menuItems4.type" [place]="menuItems4.place" [navItems]="menuItems4.navItems"
                         [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
            </div>
        </div>
        <div class="nc-layout nc-flex nc-row">
            <div class="nc-sider" style="width:240px;height: 100%;" [class.nc-sidebars-hidden]="!showSideMenus[0]">
                <nc-menu [type]="menuItems2.type" [place]="menuItems2.place" [navItems]="menuItems2.navItems"
                         [color]="'#d9d9d9'" [url]="'/Navigation-3'"></nc-menu>
            </div>
            <div class="nc-content nc-flex nc-content-center nc-align-item-center">
                content
            </div>
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
    </textarea>
    </div>
</nc-tab>

<h4>类型-3-浮动展开</h4>
<div class="nc-layout">
    <div class="nc-header nc-flex nc-align-item-center menu-header" style="width:100%;">
        <div class="nc-header-logo-area" style="width:240px;">
            <span class="nc-header-logo">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                <span>Logo</span>
            </span>
            <div class="nc-anticon-menu" (click)="extendSideMenu(1)">
                <div class="nc-anticon"></div>
            </div>
        </div>
        <div class="nc-header-menu">
            <nc-menu [type]="menuItems5.type" [place]="menuItems5.place" [navItems]="menuItems5.navItems"
                     [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
        </div>
    </div>
    <div class="nc-layout nc-flex nc-row">
        <div class="nc-sider" style="width:240px;" [class.nc-sidebars-hidden]="!showSideMenus[1]">
            <nc-menu [type]="menuItems3.type" [place]="menuItems3.place" [navItems]="menuItems3.navItems"
                     [color]="'#d9d9d9'" [url]="'/Navigation-3/option5'"></nc-menu>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center">
            content
        </div>
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [(selectTab)] = "currentTab2">
    <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:200px;">
    <div class="nc-layout">
        <div class="nc-header nc-flex nc-align-item-center menu-header" style="width:100%;">
            <div class="nc-header-logo-area" style="width:240px;">
                <span class="nc-header-logo">
                    <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                    <span>Logo</span>
                </span>
                <div class="nc-anticon-menu" (click)="extendSideMenu(1)">
                    <div class="nc-anticon"></div>
                </div>
            </div>
            <div class="nc-header-menu">
                <nc-menu [type]="menuItems5.type" [place]="menuItems5.place" [navItems]="menuItems5.navItems"
                         [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
            </div>
        </div>
        <div class="nc-layout nc-flex nc-row">
            <div class="nc-sider" style="width:240px;" [class.nc-sidebars-hidden]="!showSideMenus[1]">
                <nc-menu [type]="menuItems3.type" [place]="menuItems3.place" [navItems]="menuItems3.navItems"
                         [color]="'#d9d9d9'" [url]="'/Navigation-3/option5'"></nc-menu>
            </div>
            <div class="nc-content nc-flex nc-content-center nc-align-item-center">
                content
            </div>
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
    </textarea>
    </div>
</nc-tab>

<h4>类型-4-点击展开</h4>
<div class="nc-layout nc-flex nc-row">
    <div class="nc-sider" style="height: 100%;width: 260px;">
        <nc-menu [type]="menuItems11.type" [place]="menuItems11.place" [navItems]="menuItems11.navItems"
                 [color]="'#d9d9d9'" [url]="'/Navigation-3'"></nc-menu>
    </div>
    <div class="nc-layout" style="display: flex;flex-direction: column;justify-content: space-between;">
        <div class="nc-header menu-header2" style="height:50px;">
            <nc-menu [type]="menuItems6.type" [place]="menuItems6.place" [navItems]="menuItems6.navItems"
                     [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:calc(100% - 100px);">
            content
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [(selectTab)] = "currentTab2">
    <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:200px;">
    <div class="nc-layout nc-flex nc-row">
        <div class="nc-sider" style="height: 100%;width: 260px;">
            <nc-menu [type]="menuItems11.type" [place]="menuItems11.place" [navItems]="menuItems11.navItems"
                     [color]="'#d9d9d9'" [url]="'/Navigation-3'"></nc-menu>
        </div>
        <div class="nc-layout" style="display: flex;flex-direction: column;justify-content: space-between;">
            <div class="nc-header" style="height:50px;">
                <nc-menu [type]="menuItems6.type" [place]="menuItems6.place" [navItems]="menuItems6.navItems"
                         [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
            </div>
            <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:calc(100% - 100px);">
                content
            </div>
            <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
                footer@Ng-Cat By Angular
            </div>
        </div>
    </div>
    </textarea>
    </div>
</nc-tab>

<h4>类型-5-浮动展开</h4>
<div class="nc-layout nc-flex nc-row" style="height:300px;">
    <div class="nc-sider" style="height: 100%;width: 260px;">
        <nc-menu [type]="menuItems3.type" [place]="menuItems3.place" [navItems]="menuItems3.navItems"
                 [color]="'#d9d9d9'" [url]="'/Navigation-3/option5'"></nc-menu>
    </div>
    <div class="nc-layout" style="height:inherit;">
        <div class="nc-header menu-header2" style="height:50px;">
            <nc-menu [type]="menuItems7.type" [place]="menuItems7.place" [navItems]="menuItems7.navItems"
                     [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:calc(100% - 100px);">
            content
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [(selectTab)] = "currentTab2">
    <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:200px;">
    <div class="nc-layout nc-flex nc-row" style="height:300px;">
        <div class="nc-sider" style="height: 100%;width: 260px;">
            <nc-menu [type]="menuItems3.type" [place]="menuItems3.place" [navItems]="menuItems3.navItems"
                     [color]="'#d9d9d9'" [url]="'/Navigation-3/option5'"></nc-menu>
        </div>
        <div class="nc-layout">
            <div class="nc-header" style="height:50px;">
                <nc-menu [type]="menuItems7.type" [place]="menuItems7.place" [navItems]="menuItems7.navItems"
                         [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
            </div>
            <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:calc(100% - 100px);">
                content
            </div>
            <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
                footer@Ng-Cat By Angular
            </div>
        </div>
    </div>
    </textarea>
    </div>
</nc-tab>

<h1>3.常用布局和导航菜单组合-带滚动条</h1>
<h4>类型-1-带滚动条</h4>
<div class="nc-layout" style="height:360px;">
    <div class="nc-header nc-flex nc-align-item-center menu-header" style="width:100%;">
        <div class="nc-header-logo-area" style="width:240px;">
            <span class="nc-header-logo">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                <span>Logo</span>
            </span>
            <div class="nc-anticon-menu" (click)="extendSideMenu(2)">
                <div class="nc-anticon"></div>
            </div>
        </div>
        <div class="nc-header-menu">
            <nc-menu [type]="menuItems8.type" [place]="menuItems8.place" [navItems]="menuItems8.navItems"
                     [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
        </div>
    </div>
    <div class="nc-layout nc-flex nc-row" style="height:calc(100% - 100px);">
        <div class="nc-sider" style="width:240px;height: 100%;" [class.nc-sidebars-hidden]="!showSideMenus[2]">
            <nc-menu [type]="menuItems12.type" [place]="menuItems12.place" [navItems]="menuItems12.navItems"
                     [color]="'#d9d9d9'" [isScroll]="true" [url]="'/Navigation-3'"></nc-menu>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center">
            content
        </div>
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [(selectTab)] = "currentTab2">
    <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:200px;">
    <div class="nc-layout" style="height:360px;">
        <div class="nc-header nc-flex nc-align-item-center menu-header" style="width:100%;">
            <div class="nc-header-logo-area" style="width:240px;">
                <span class="nc-header-logo">
                    <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                    <span>Logo</span>
                </span>
                <div class="nc-anticon-menu" (click)="extendSideMenu(2)">
                    <div class="nc-anticon"></div>
                </div>
            </div>
            <div class="nc-header-menu">
                <nc-menu [type]="menuItems8.type" [place]="menuItems8.place" [navItems]="menuItems8.navItems"
                         [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
            </div>
        </div>
        <div class="nc-layout nc-flex nc-row" style="height:calc(100% - 100px);">
            <div class="nc-sider" style="width:240px;height: 100%;" [class.nc-sidebars-hidden]="!showSideMenus[2]">
                <nc-menu [type]="menuItems12.type" [place]="menuItems12.place" [navItems]="menuItems12.navItems"
                         [color]="'#d9d9d9'" [isScroll]="true" [url]="'/Navigation-3'"></nc-menu>
            </div>
            <div class="nc-content nc-flex nc-content-center nc-align-item-center">
                content
            </div>
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
    </textarea>
    </div>
</nc-tab>

<h4>类型-2-带滚动条</h4>
<div class="nc-layout nc-flex nc-row" style="height: 300px;">
    <div class="nc-sider" style="height: 100%;width: 260px;">
        <nc-menu [type]="menuItems13.type" [place]="menuItems13.place" [navItems]="menuItems13.navItems"
                 [color]="'#d9d9d9'" [isScroll]="true" [url]="'/Navigation-3'"></nc-menu>
    </div>
    <div class="nc-layout" style="height: inherit;">
        <div class="nc-header menu-header2" style="height:50px;">
            <nc-menu [type]="menuItems9.type" [place]="menuItems9.place" [navItems]="menuItems9.navItems"
                     [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:calc(100% - 100px);">
            content
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [(selectTab)] = "currentTab2">
    <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:200px;">
    <div class="nc-layout nc-flex nc-row" style="height: 300px;">
        <div class="nc-sider" style="height: 100%;width: 260px;">
            <nc-menu [type]="menuItems13.type" [place]="menuItems13.place" [navItems]="menuItems13.navItems"
                     [color]="'#d9d9d9'" [isScroll]="true" [url]="'/Navigation-3'"></nc-menu>
        </div>
        <div class="nc-layout" style="height: inherit;">
            <div class="nc-header" style="height:50px;">
                <nc-menu [type]="menuItems9.type" [place]="menuItems9.place" [navItems]="menuItems9.navItems"
                         [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
            </div>
            <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:calc(100% - 100px);">
                content
            </div>
            <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
                footer@Ng-Cat By Angular
            </div>
        </div>
    </div>
    </textarea>
    </div>
</nc-tab>

<h1>4.常用布局和导航菜单组合-dark颜色类型</h1>
<h4>类型-1</h4>
<div class="nc-layout">
    <div class="nc-header nc-flex nc-align-item-center menu-header" style="width:100%;background: #00264d;color:#fff;">
        <div class="nc-header-logo-area" style="width:200px;">
            <span class="nc-header-logo">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                <span>Logo</span>
            </span>
        </div>
        <div class="nc-header-menu">
            <nc-menu [type]="menuItems10.type" [place]="menuItems10.place" [navItems]="menuItems10.navItems"
                     [backColor]="'dark'" [url]="'/Navigation-Two'"></nc-menu>
        </div>
    </div>
    <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:120px;">
        content
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [(selectTab)] = "currentTab2">
    <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:200px;">
    <div class="nc-layout">
        <div class="nc-header nc-flex nc-align-item-center menu-header" style="width:100%;background: #00264d;color:#fff;">
            <div class="nc-header-logo-area" style="width:200px;">
                <span class="nc-header-logo">
                    <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                    <span>Logo</span>
                </span>
            </div>
            <div class="nc-header-menu">
                <nc-menu [type]="menuItems10.type" [place]="menuItems10.place" [navItems]="menuItems10.navItems"
                         [backColor]="'dark'" [url]="'/Navigation-Two'"></nc-menu>
            </div>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center" style="height:120px;">
            content
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
    </textarea>
    </div>
</nc-tab>

<h4>类型-2</h4>
<div class="nc-layout">
    <div class="nc-header nc-flex nc-align-item-center menu-header" style="width:100%;">
        <div class="nc-header-logo-area" style="width:240px;">
            <span class="nc-header-logo">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                <span>Logo</span>
            </span>
            <div class="nc-anticon-menu" (click)="extendSideMenu(3)">
                <div class="nc-anticon"></div>
            </div>
        </div>
        <div class="nc-header-menu">
            <nc-menu [type]="menuItems17.type" [place]="menuItems17.place" [navItems]="menuItems17.navItems"
                     [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
        </div>
    </div>
    <div class="nc-layout nc-flex nc-row">
        <div class="nc-sider" style="width:240px;height: 100%;" [class.nc-sidebars-hidden]="!showSideMenus[3]">
            <nc-menu [type]="menuItems14.type" [place]="menuItems14.place" [navItems]="menuItems14.navItems"
                     [backColor]="'dark'" [url]="'/Navigation-3'"></nc-menu>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center">
            content
        </div>
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [(selectTab)] = "currentTab2">
    <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:200px;">
    <div class="nc-layout">
        <div class="nc-header nc-flex nc-align-item-center menu-header" style="width:100%;">
            <div class="nc-header-logo-area" style="width:240px;">
                <span class="nc-header-logo">
                    <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                    <span>Logo</span>
                </span>
                <div class="nc-anticon-menu" (click)="extendSideMenu(3)">
                    <div class="nc-anticon"></div>
                </div>
            </div>
            <div class="nc-header-menu">
                <nc-menu [type]="menuItems17.type" [place]="menuItems17.place" [navItems]="menuItems17.navItems"
                         [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
            </div>
        </div>
        <div class="nc-layout nc-flex nc-row">
            <div class="nc-sider" style="width:240px;height: 100%;" [class.nc-sidebars-hidden]="!showSideMenus[3]">
                <nc-menu [type]="menuItems14.type" [place]="menuItems14.place" [navItems]="menuItems14.navItems"
                         [backColor]="'dark'" [url]="'/Navigation-3'"></nc-menu>
            </div>
            <div class="nc-content nc-flex nc-content-center nc-align-item-center">
                content
            </div>
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
    </textarea>
    </div>
</nc-tab>

<h4>类型-3</h4>
<div class="nc-layout">
    <div class="nc-header nc-flex nc-align-item-center menu-header" style="width:100%;background: #00264d;color:#fff;">
        <div class="nc-header-logo-area" style="width:240px;">
            <span class="nc-header-logo">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                <span>Logo</span>
            </span>
            <div class="nc-anticon-menu" (click)="extendSideMenu(4)">
                <div class="nc-anticon"></div>
            </div>
        </div>
        <div class="nc-header-menu">
            <nc-menu [type]="menuItems18.type" [place]="menuItems18.place" [navItems]="menuItems18.navItems"
                     [backColor]="'dark'" [url]="'/Navigation-Two'"></nc-menu>
        </div>
    </div>
    <div class="nc-layout nc-flex nc-row">
        <div class="nc-sider" style="width:240px;height: 100%;" [class.nc-sidebars-hidden]="!showSideMenus[4]">
            <nc-menu [type]="menuItems15.type" [place]="menuItems15.place" [navItems]="menuItems15.navItems"
                     [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-3'"></nc-menu>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center">
            content
        </div>
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [(selectTab)] = "currentTab2">
    <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:200px;">
    <div class="nc-layout">
        <div class="nc-header nc-flex nc-align-item-center menu-header" style="width:100%;background: #00264d;color:#fff;">
            <div class="nc-header-logo-area" style="width:240px;">
                <span class="nc-header-logo">
                    <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                    <span>Logo</span>
                </span>
                <div class="nc-anticon-menu" (click)="extendSideMenu(4)">
                    <div class="nc-anticon"></div>
                </div>
            </div>
            <div class="nc-header-menu">
                <nc-menu [type]="menuItems18.type" [place]="menuItems18.place" [navItems]="menuItems18.navItems"
                         [backColor]="'dark'" [url]="'/Navigation-Two'"></nc-menu>
            </div>
        </div>
        <div class="nc-layout nc-flex nc-row">
            <div class="nc-sider" style="width:240px;height: 100%;" [class.nc-sidebars-hidden]="!showSideMenus[4]">
                <nc-menu [type]="menuItems15.type" [place]="menuItems15.place" [navItems]="menuItems15.navItems"
                         [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-3'"></nc-menu>
            </div>
            <div class="nc-content nc-flex nc-content-center nc-align-item-center">
                content
            </div>
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
    </textarea>
    </div>
</nc-tab>

<h4>类型-4</h4>
<div class="nc-layout">
    <div class="nc-header nc-flex nc-align-item-center menu-header2" style="width:100%;">
        <div class="nc-header-logo-area" style="width:240px;">
            <span class="nc-header-logo">
                <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                <span>Logo</span>
            </span>
            <div class="nc-anticon-menu"  (click)="extendSideMenu(5)">
                <div class="nc-anticon"></div>
            </div>
        </div>
        <div class="nc-header-menu">
            <nc-menu [type]="menuItems17.type" [place]="menuItems17.place" [navItems]="menuItems17.navItems"
                     [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
        </div>
    </div>
    <div class="nc-layout nc-flex nc-row">
        <div class="nc-sider" style="width:240px;" [class.nc-sidebars-hidden]="!showSideMenus[5]">
            <nc-menu [type]="menuItems21.type" [place]="menuItems21.place" [navItems]="menuItems21.navItems"
                     [backColor]="'dark'" [url]="'/Navigation-3/option5'"></nc-menu>
        </div>
        <div class="nc-content nc-flex nc-content-center nc-align-item-center">
            content
        </div>
    </div>
    <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
        footer@Ng-Cat By Angular
    </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [(selectTab)] = "currentTab2">
    <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:200px;">
    <div class="nc-layout">
        <div class="nc-header nc-flex nc-align-item-center menu-header" style="width:100%;">
            <div class="nc-header-logo-area" style="width:240px;">
                <span class="nc-header-logo">
                    <img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3168844475,3126873961&fm=26&gp=0.jpg" />
                    <span>Logo</span>
                </span>
                <div class="nc-anticon-menu"  (click)="extendSideMenu(5)">
                    <div class="nc-anticon"></div>
                </div>
            </div>
            <div class="nc-header-menu">
                <nc-menu [type]="menuItems17.type" [place]="menuItems17.place" [navItems]="menuItems17.navItems"
                         [backColor]="'manual'" [color]="'#f2f2f2'" [url]="'/Navigation-Two'"></nc-menu>
            </div>
        </div>
        <div class="nc-layout nc-flex nc-row">
            <div class="nc-sider" style="width:240px;" [class.nc-sidebars-hidden]="!showSideMenus[5]">
                <nc-menu [type]="menuItems21.type" [place]="menuItems21.place" [navItems]="menuItems21.navItems"
                         [backColor]="'dark'" [url]="'/Navigation-3/option5'"></nc-menu>
            </div>
            <div class="nc-content nc-flex nc-content-center nc-align-item-center">
                content
            </div>
        </div>
        <div class="nc-footer nc-flex nc-content-center nc-align-item-center" style="height:50px;">
            footer@Ng-Cat By Angular
        </div>
    </div>
    </textarea>
    </div>
</nc-tab>

<div style="height: 50px;"></div>

<nc-toTop [type]="'rocket'" [parentId]="'nc-content'"></nc-toTop>
