<h2 class="title">回到顶端</h2>
<p>toTop回到顶端，用于在浏览页面内容超出可视区后，可以快速回到顶部的工具</p>
<p>鼠标向下滚动体验</p>
<nc-toTop></nc-toTop>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:80px;">
      <nc-toTop></nc-toTop>

      <nc-toTop [type]="'rocket'"></nc-toTop>
    </textarea>
  </div>
</nc-tab>

<h3>参数</h3>
<table>
  <thead>
  <tr>
    <th>参数</th>
    <th>说明</th>
    <th>默认值</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>type</td>
    <td>现状或类型;rocket/circle</td>
    <td>circle</td>
  </tr>
  </tbody>
</table>