<h2 class="title">文本输入框</h2>
<p>文本输入框，用于日常表单的数据输入</p>

<div style="margin-top: 20px;">
  <nc-form-group>
    <nc-form-label>姓名</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="value" (modelValueChange)="aaa()" [required]="true"></nc-input>
  </nc-form-group>
  <nc-form-group>
    <nc-form-label>别名(可选)</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="value2" (modelValueChange)="aaa()"></nc-input>
  </nc-form-group>
  <nc-form-group>
    <nc-form-label>密码</nc-form-label>
    <nc-input [type]="'password'" [(modelValue)]="password" (modelValueChange)="aaa()"  [required]="true"></nc-input>
  </nc-form-group>
  <nc-form-group>
    <nc-form-label>数目</nc-form-label>
    <nc-input [type]="'number'" [(modelValue)]="num" [max]="6" [min]="1"
              [required]="true"></nc-input>
  </nc-form-group>
  <nc-form-group>
    <nc-form-label>禁用</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="value2"  [disabled]="true"></nc-input>
  </nc-form-group>
  <nc-form-group>
    <nc-form-label>只读</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="value2" [readon]="true" [required]="true"></nc-input>
  </nc-form-group>
  <nc-form-group>
    <nc-form-label>单位组合</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="num2" [required]="true" [suffixList]="units">
    </nc-input>
  </nc-form-group>
  <!--nc-form-group>
    <nc-form-label>多个单位</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="num2" [required]="true" [suffixList]="units3">
    </nc-input>
  </nc-form-group>-->
  <nc-form-group>
    <nc-form-label>网址</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="num2s" [required]="true" [prefixList]="units2">
    </nc-input>
  </nc-form-group>
  <nc-form-group>
    <nc-form-label>搜索框</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="sarchValue" [required]="true" [isSearch]="true">
    </nc-input>
  </nc-form-group>
  <nc-form-group [width]="'700px'">
    <nc-form-label>搜索框</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="sarchValue" [required]="true" [isSearch]="true">
    </nc-input>
  </nc-form-group>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [type]="'line'" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:300px;">
  <nc-form-group>
    <nc-form-label>姓名</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="value" (modelValueChange)="aaa()" [required]="true"></nc-input>
  </nc-form-group>
  <nc-form-group>
    <nc-form-label>别名(可选)</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="value2" (modelValueChange)="aaa()"></nc-input>
  </nc-form-group>
  <nc-form-group>
    <nc-form-label>密码</nc-form-label>
    <nc-input [type]="'password'" [(modelValue)]="password" (modelValueChange)="aaa()"  [required]="true"></nc-input>
  </nc-form-group>
  <nc-form-group>
    <nc-form-label>数目</nc-form-label>
    <nc-input [type]="'number'" [(modelValue)]="num" [max]="6" [min]="1"
              [required]="true"></nc-input>
  </nc-form-group>
  <nc-form-group>
    <nc-form-label>禁用</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="value2"  [disabled]="true"></nc-input>
  </nc-form-group>
  <nc-form-group>
    <nc-form-label>只读</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="value2" [readon]="true" [required]="true"></nc-input>
  </nc-form-group>
  <nc-form-group>
    <nc-form-label>单位组合</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="num2" [required]="true" [suffixList]="units">
    </nc-input>
  </nc-form-group>
  <nc-form-group>
    <nc-form-label>网址</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="num2s" [required]="true" [prefixList]="units2">
    </nc-input>
  </nc-form-group>
  <nc-form-group>
    <nc-form-label>搜索框</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="sarchValue" [required]="true" [isSearch]="true">
    </nc-input>
  </nc-form-group>
  <nc-form-group [width]="'700px'">
    <nc-form-label>搜索框</nc-form-label>
    <nc-input [type]="'text'" [(modelValue)]="sarchValue" [required]="true" [isSearch]="true">
    </nc-input>
  </nc-form-group>
    </textarea>
  </div>
  <div *ngIf="currentTab === 'typescript'">
    <textarea style="height:200px;">
    value : string = 'Jack';
    value2 : string = 'Jack2';
    password : string = '';
    num : number = 1;
    num2 : number = 3;
    units : any[] = ['unit'];
    units2 : any[] = ['http://'];
    sarchValue : string = '';
    </textarea>
  </div>
</nc-tab>

<h3>参数</h3>
<table>
  <thead>
  <tr>
    <th>参数</th>
    <th>说明</th>
    <th>默认值</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>type</td>
    <td>输入类型</td>
    <td>text</td>
  </tr>
  <tr>
    <td>placeHolder</td>
    <td>输入提示</td>
    <td>请输入</td>
  </tr>
  <tr>
    <td>modelValue</td>
    <td>双向绑定值</td>
    <td>''</td>
  </tr>
  <tr>
    <td>required</td>
    <td>是否必选,true/false</td>
    <td>true</td>
  </tr>
  <tr>
    <td>disabled</td>
    <td>是否禁用,true/false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>readon</td>
    <td>是否只读,true/false</td>
    <td>false</td>
  </tr>
  <tr>
  <tr>
    <td>isSearch</td>
    <td>是否搜索,true/false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>prefixList</td>
    <td>前缀单位列表</td>
    <td>[]</td>
  </tr>
  <tr>
    <td>suffixList</td>
    <td>后缀单位列表</td>
    <td>[]</td>
  </tr>
  <tr>
    <td>min</td>
    <td>最小值</td>
    <td>0</td>
  </tr>
  <tr>
    <td>max</td>
    <td>最大值</td>
    <td>0</td>
  </tr>
  <tr>
    <td>width</td>
    <td>自定义宽度，px或百分比，比如：50%，400px</td>
    <td>470px</td>
  </tr>
  </tbody>
</table>
<br/>
<br/>