<h2 class="title">输入框</h2>
<p>输入框，用于日常表单的数据输入</p>

<h3>1. 常用输入框</h3>
<div style="margin-left: 20px;">
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="value" [required]="true"></nc-input>
  </div>
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'password'" [(modelValue)]="password" [required]="true" [showHint]="false"></nc-input>
  </div>
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="value2"></nc-input>
  </div>
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'number'" [(modelValue)]="num" [min]="1" [max]="99" [step]="5" [required]="true">
    </nc-input>
  </div>
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="value2" [disabled]="true" [required]="true"></nc-input>
  </div>
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="value2" [readon]="true" [required]="true"></nc-input>
  </div>
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="value2" [autofocus]="true" [required]="true"></nc-input>
  </div>
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="num2" [suffixList]="units" [required]="true"></nc-input>
  </div>
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="num2s" [prefixList]="units2" [required]="true"></nc-input>
  </div>
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="num2s" [prefixList]="units2" [suffixList]="units" [required]="true">
    </nc-input>
  </div>
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="num2s" [isSearch]="true"></nc-input>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [type]="'line'" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:300px;">
  <div class="nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="value" [required]="true"></nc-input>
  </div>
  <div class="nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'password'" [(modelValue)]="password" [required]="true"></nc-input>
  </div>
  <div class="nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="value2"></nc-input>
  </div>
  <div class="nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'number'" [(modelValue)]="num" [min]="1" [max]="99" [step]="5" [required]="true">
    </nc-input>
  </div>
  <div class="nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="value2" [disabled]="true" [required]="true"></nc-input>
  </div>
  <div class="nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="value2" [readon]="true" [required]="true"></nc-input>
  </div>
  <div class="nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="value2" [autofocus]="true" [required]="true"></nc-input>
  </div>
  <div class="nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="num2" [suffixList]="units" [required]="true"></nc-input>
  </div>
  <div class="nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="num2s" [prefixList]="units2" [required]="true"></nc-input>
  </div>
  <div class="nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="num2s" [prefixList]="units2" [suffixList]="units" [required]="true">
    </nc-input>
  </div>
  <div class="nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="num2s" [isSearch]="true"></nc-input>
  </div>
    </textarea>
  </div>
  <div *ngIf="currentTab === 'typescript'">
    <textarea style="height:200px;">
  value : string = 'Jack';
  value2 : string = 'Jack2';
  password : string = '';
  num : number = 1;
  num2 : string = '3';
  num2s : string = '127.0.0.1';
  units : any[] = [{label:'GB',value:'gb'}];
  units3 : any[] = [{label:'GB',value:'gb'},{label:'核',value:'core'}];
  units2 : any[] = [{label:'http://',value:'http://'}];
  units4 : any[] = [{label:'http://',value:'http://'},{label:'https://',value:'https://'}];
  textArea : string = '';
    </textarea>
  </div>
</nc-tab>

<h3>2. 输入框与图标组合</h3>
<div style="margin-left: 20px;">
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="value" [required]="true" [iconffix]="'pre'">
      <nc-input-icon class="nc-input-icon-preffix"><span class="fa fa-user"></span></nc-input-icon>
    </nc-input>
  </div>
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'password'" [(modelValue)]="password" [required]="true" [iconffix]="'pre'">
      <nc-input-icon class="nc-input-icon-preffix"><span class="fa fa-lock"></span></nc-input-icon>
    </nc-input>
  </div>
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'text'" [(modelValue)]="value" [required]="true" [iconffix]="'sub'">
      <nc-input-icon class="nc-input-icon-subffix"><span class="fa fa-user"></span></nc-input-icon>
    </nc-input>
  </div>
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-input [type]="'password'" [(modelValue)]="password" [required]="true" [iconffix]="'sub'">
      <nc-input-icon class="nc-input-icon-subffix"><span class="fa fa-lock"></span></nc-input-icon>
    </nc-input>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [type]="'line'" [(selectTab)] = "currentTab2">
  <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:160px;">
    <div style="margin-left: 20px;">
      <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
        <nc-input [type]="'text'" [(modelValue)]="value" [required]="true" [iconffix]="'pre'">
          <nc-input-icon class="nc-input-icon-preffix"><span class="fa fa-user"></span></nc-input-icon>
        </nc-input>
      </div>
      <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
        <nc-input [type]="'password'" [(modelValue)]="password" [required]="true" [iconffix]="'pre'">
          <nc-input-icon class="nc-input-icon-preffix"><span class="fa fa-lock"></span></nc-input-icon>
        </nc-input>
      </div>
      <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
        <nc-input [type]="'text'" [(modelValue)]="value" [required]="true" [iconffix]="'sub'">
          <nc-input-icon class="nc-input-icon-subffix"><span class="fa fa-user"></span></nc-input-icon>
        </nc-input>
      </div>
      <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
        <nc-input [type]="'password'" [(modelValue)]="password" [required]="true" [iconffix]="'sub'">
          <nc-input-icon class="nc-input-icon-subffix"><span class="fa fa-lock"></span></nc-input-icon>
        </nc-input>
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>

<h3>3. 文本域</h3>
<div style="margin-left: 20px;">
  <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
    <nc-text-area [(modelValue)]="textArea"></nc-text-area>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [type]="'line'" [(selectTab)] = "currentTab2">
  <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:100px;">
    <div class="input-margin nc-xl-col-4 nc-lg-col-4 nc-md-col-6 nc-sm-col-12 nc-xs-col-12">
      <nc-text-area [(modelValue)]="textArea"></nc-text-area>
    </div>
    </textarea>
  </div>
</nc-tab>

<h3>4. 自定义尺寸</h3>
<div style="margin-top: 20px;margin-left: 20px;">
  <div style="margin: 20px 0;">
    <nc-input [type]="'text'" [(modelValue)]="value" [width]="'900px'" [height]="'48px'"></nc-input>
  </div>
  <div style="margin: 20px 0;">
    <nc-input [type]="'text'" [(modelValue)]="value" [width]="'200px'" [height]="'30px'"></nc-input>
  </div>
  <div style="margin: 20px 0;">
    <nc-input [type]="'text'" [(modelValue)]="num2s" [prefixList]="units2"
              [suffixList]="units" [width]="'900px'" [height]="'48px'">
    </nc-input>
  </div>
  <div style="margin: 20px 0;">
    <nc-input [type]="'text'" [(modelValue)]="num2s" [isSearch]="true" [width]="'900px'" [height]="'48px'">
    </nc-input>
  </div>
  <div style="margin: 20px 0;">
    <nc-input [type]="'text'" [(modelValue)]="value" [width]="'500px'"
              [showError]="isShowErrInput" [inputErrorText]="ShowErrMsg"></nc-input>
    <div style="margin-top: 10px;">
      <nc-button (click)="isShowErrInput = !isShowErrInput;">输入错误</nc-button>
    </div>
  </div>
  <div style="margin: 20px 0;">
    <nc-text-area [(modelValue)]="textArea" [width]="'900px'" [height]="'130px'"></nc-text-area>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [type]="'line'" [(selectTab)] = "currentTab2">
  <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:150px;">
    <nc-input [type]="'text'" [(modelValue)]="value" [width]="'900px'" [height]="'48px'"></nc-input>
    <nc-input [type]="'text'" [(modelValue)]="value" [width]="'200px'" [height]="'30px'"></nc-input>
    <nc-input [type]="'text'" [(modelValue)]="num2s" [prefixList]="units2"
              [suffixList]="units" [width]="'900px'" [height]="'48px'">
    </nc-input>
    <nc-input [type]="'text'" [(modelValue)]="num2s" [isSearch]="true" [width]="'900px'" [height]="'48px'">
    </nc-input>

    <nc-text-area [(modelValue)]="textArea" [width]="'900px'" [height]="'130px'"></nc-text-area>
    </textarea>
  </div>
</nc-tab>


<h3>参数</h3>
<table>
  <thead>
  <tr>
    <th>参数</th>
    <th>说明</th>
    <th>默认值</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>type</td>
    <td>输入类型</td>
    <td>text</td>
  </tr>
  <tr>
    <td>placeHolder</td>
    <td>输入提示</td>
    <td>请输入</td>
  </tr>
  <tr>
    <td>modelValue</td>
    <td>双向绑定值</td>
    <td>''</td>
  </tr>
  <tr>
    <td>required</td>
    <td>是否必选,true/false</td>
    <td>true</td>
  </tr>
  <tr>
    <td>disabled</td>
    <td>是否禁用,true/false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>autofocus</td>
    <td>是否自动聚焦,true/false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>readon</td>
    <td>是否只读,true/false</td>
    <td>false</td>
  </tr>
  <tr>
  <tr>
    <td>isSearch</td>
    <td>是否搜索,true/false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>prefixList</td>
    <td>前缀单位列表</td>
    <td>[]</td>
  </tr>
  <tr>
    <td>suffixList</td>
    <td>后缀单位列表</td>
    <td>[]</td>
  </tr>
  <tr>
    <td>min</td>
    <td>最小值</td>
    <td>0</td>
  </tr>
  <tr>
    <td>max</td>
    <td>最大值</td>
    <td>0</td>
  </tr>
  <tr>
    <td>step</td>
    <td>步长</td>
    <td>1</td>
  </tr>
  <tr>
    <td>width</td>
    <td>自定义宽度，px或百分比，比如：50%，400px</td>
    <td>100%</td>
  </tr>
  <tr>
    <td>height</td>
    <td>自定义高度，px或百分比，比如：50%，400px</td>
    <td>36px</td>
  </tr>
  <tr>
    <td>iconffix</td>
    <td>是否带前后缀图标，pre/sub</td>
    <td></td>
  </tr>
  <tr>
    <td>showHint</td>
    <td>是否聚焦后显示提示</td>
    <td>true</td>
  </tr>
  <tr>
    <td>noBorder</td>
    <td>是否不带边框，false/true</td>
    <td>false</td>
  </tr>
  <tr>
    <td>inputLintText</td>
    <td>提示内容</td>
    <td>请输入中文或者英文</td>
  </tr>
  <tr>
    <td>inputErrorText</td>
    <td>错误提示内容</td>
    <td></td>
  </tr>
  <tr>
    <td>showError</td>
    <td>是否提示错误，false/true</td>
    <td>false</td>
  </tr>
  <tr>
    <td>pattern</td>
    <td>检查正则对象</td>
    <td></td>
  </tr>
  </tbody>
</table>
<br/>
<br/>



