<h2 class="title">评分星星</h2>
<p>评分，用于评价体验分数</p>
<h3>1. 默认设置</h3>
<div style="margin-top: 20px;margin-bottom: 20px;">
  <nc-rate></nc-rate>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:80px;">
      <nc-rate></nc-rate>
    </textarea>
  </div>
</nc-tab>

<h3>2. 自定义设置</h3>
<div style="margin-top: 20px;margin-bottom: 20px;">
  <nc-rate [color]="'#ff1a1a'"></nc-rate>
</div>
<div style="margin-top: 20px;margin-bottom: 20px;">
  <nc-rate [size]="'42px'" [color]="'#1a1aff'"></nc-rate>
</div>
<div style="margin-top: 20px;margin-bottom: 20px;">
  <nc-rate [color]="'#bf00ff'" [totalRate]="8" [(curRate)]="curRate" [title]="'分'"></nc-rate>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:80px;">
    <nc-rate [color]="'#ff1a1a'"></nc-rate>
    <nc-rate [size]="'42px'" [color]="'#1a1aff'"></nc-rate>
    <nc-rate [color]="'#bf00ff'" [totalRate]="8" [(curRate)]="curRate" [title]="'分'"></nc-rate>
    </textarea>
  </div>
</nc-tab>

<h3>参数</h3>
<table>
  <thead>
  <tr>
    <th>参数</th>
    <th>说明</th>
    <th>默认值</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>size</td>
    <td>评分星星大小</td>
    <td>28px</td>
  </tr>
  <tr>
    <td>color</td>
    <td>评分星星颜色</td>
    <td>#ff8000</td>
  </tr>
  <tr>
    <td>totalRate</td>
    <td>评分总数目</td>
    <td>10</td>
  </tr>
  <tr>
    <td>curRate</td>
    <td>当前评分</td>
    <td>6</td>
  </tr>
  <tr>
    <td>title</td>
    <td>评分文本</td>
    <td>星</td>
  </tr>
  </tbody>
</table>
