<h2 class="title">进度条</h2>
<p>进度条，用于展示操作或任务的进度情况</p>
<h3>1. 基本样式</h3>
<div class="precDemo">
  <h5>正常状态</h5>
  <div class="precItem">
    <nc-progress [value]="curValue"></nc-progress>
  </div>
  <h5>带动画子状态</h5>
  <div class="precItem">
    <nc-progress [value]="curValue" [subDynamic]="true" [total]="total"></nc-progress>
  </div>
  <h5>不显示进度百分比</h5>
  <div class="precItem">
    <nc-progress [value]="curValue" [showInfo]="false"></nc-progress>
  </div>
  <h5>动态进度条</h5>
  <div class="precItem">
    <nc-progress [type]="'dynamic'"></nc-progress>
  </div>
  <div class="precItem">
    <span style="margin-right: 15px;">
      <nc-button (click)="decValue()">-</nc-button>
    </span>
    <span style="margin-right: 15px;">
      <nc-button (click)="addValue()">+</nc-button>
    </span>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:150px;">
    <h5>正常状态</h5>
    <div class="precItem">
      <nc-progress [value]="curValue"></nc-progress>
    </div>
    <h5>带动画子状态</h5>
    <div class="precItem">
      <nc-progress [value]="curValue" [subDynamic]="true" [total]="total"></nc-progress>
    </div>
    <h5>不显示进度百分比</h5>
    <div class="precItem">
      <nc-progress [value]="curValue" [showInfo]="false"></nc-progress>
    </div>
    <h5>动态进度条</h5>
    <div class="precItem">
      <nc-progress [type]="'dynamic'"></nc-progress>
    </div>
    </textarea>
  </div>
  <div *ngIf="currentTab === 'typescript'">
    <textarea style="height:150px;">
    curValue : number = 30;
    total : number = 100;
    </textarea>
  </div>
</nc-tab>

<h3>2. 不同尺寸的进度条</h3>
<div class="precDemo">
  <h5>中等尺寸</h5>
  <div class="precItem">
    <nc-progress [value]="curValue2" [size]="'medium'"></nc-progress>
  </div>
  <div class="precItem">
    <nc-progress [value]="curValue2" [size]="'medium'" [subDynamic]="true"></nc-progress>
  </div>
  <div class="precItem">
    <nc-progress [value]="curValue2" [size]="'medium'" [showInfo]="false"></nc-progress>
  </div>
  <div class="precItem">
    <nc-progress [value]="curValue2" [type]="'dynamic'" [size]="'medium'"></nc-progress>
  </div>
  <h5>小尺寸</h5>
  <div class="precItem">
    <nc-progress [value]="curValue2" [size]="'small'"></nc-progress>
  </div>
  <div class="precItem">
    <nc-progress [value]="curValue2" [size]="'small'" [subDynamic]="true"></nc-progress>
  </div>
  <div class="precItem">
    <nc-progress [value]="curValue2" [size]="'small'" [showInfo]="false"></nc-progress>
  </div>
  <div class="precItem">
    <nc-progress [value]="curValue2" [type]="'dynamic'" [size]="'small'"></nc-progress>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [(selectTab)] = "currentTab2">
  <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:150px;">
    <h5>中等尺寸</h5>
    <nc-progress [value]="curValue2" [size]="'medium'"></nc-progress>
    <nc-progress [value]="curValue2" [size]="'medium'" [subDynamic]="true"></nc-progress>
    <nc-progress [value]="curValue2" [size]="'medium'" [showInfo]="false"></nc-progress>
    <nc-progress [value]="curValue2" [type]="'dynamic'" [size]="'medium'"></nc-progress>
    <h5>小尺寸</h5>
    <nc-progress [value]="curValue2" [size]="'small'"></nc-progress>
    <nc-progress [value]="curValue2" [size]="'small'" [subDynamic]="true"></nc-progress>
    <nc-progress [value]="curValue2" [size]="'small'" [showInfo]="false"></nc-progress>
    <nc-progress [value]="curValue2" [type]="'dynamic'" [size]="'small'"></nc-progress>
    </textarea>
  </div>
  <div *ngIf="currentTab2 === 'typescript'">
    <textarea style="height:150px;">
    curValue2 : number = 50;
    </textarea>
  </div>
</nc-tab>

<h3>3. 自定义样式</h3>
<div class="precDemo">
  <h5>自定义宽度</h5>
  <div class="precItem">
    <nc-progress [value]="curValue3" [size]="'medium'" [width]="'240px'"></nc-progress>
  </div>
  <h5>自定义进度颜色</h5>
  <div class="precItem">
    <nc-progress [value]="curValue3" [size]="'medium'" [color]="'#ffa31a'"></nc-progress>
  </div>
  <h5>自定义子状态颜色</h5>
  <div class="precItem">
    <nc-progress [value]="curValue3" [size]="'medium'" [color]="'#ffa31a'"
                 [subDynamic]="true" [subColor]="'#ff66ff'"></nc-progress>
  </div>
  <h5>自定义total总数</h5>
  <div class="precItem">
    <nc-progress [value]="curValue3" [size]="'medium'" [total]="150" [subDynamic]="true"></nc-progress>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems3" [(selectTab)] = "currentTab3">
  <div *ngIf="currentTab3 === 'html'">
    <textarea style="height:150px;">
    <h5>自定义宽度</h5>
    <nc-progress [value]="curValue3" [size]="'medium'" [width]="'240px'"></nc-progress>
    <h5>自定义进度颜色</h5>
    <nc-progress [value]="curValue3" [size]="'medium'" [color]="'#ffa31a'"></nc-progress>
    <h5>自定义子状态颜色</h5>
    <nc-progress [value]="curValue3" [size]="'medium'" [color]="'#ffa31a'"
                 [subDynamic]="true" [subColor]="'#ff66ff'"></nc-progress>
    <h5>自定义total总数</h5>
    <nc-progress [value]="curValue3" [size]="'medium'" [total]="150" [subDynamic]="true"></nc-progress>
    </textarea>
  </div>
  <div *ngIf="currentTab3 === 'typescript'">
    <textarea style="height:150px;">
    curValue3 : number = 50;
    </textarea>
  </div>
</nc-tab>

<h3>参数</h3>
<table>
  <thead>
  <tr>
    <th>参数</th>
    <th>说明</th>
    <th>默认值</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>total</td>
    <td>总数</td>
    <td>100</td>
  </tr>
  <tr>
    <td>value</td>
    <td>当前值</td>
    <td>30</td>
  </tr>
  <tr>
    <td>type</td>
    <td>类型,2种取值：normal,dynamic</td>
    <td>normal</td>
  </tr>
  <tr>
    <td>size</td>
    <td>尺寸,3种取值：big,medium,small</td>
    <td>big</td>
  </tr>
  <tr>
    <td>width</td>
    <td>宽度，px或百分比，比如：50%，400px</td>
    <td>420px</td>
  </tr>
  <tr>
    <td>color</td>
    <td>进度颜色</td>
    <td>#3399ff</td>
  </tr>
  <tr>
    <td>subDynamic</td>
    <td>展示子动画状态,true/false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>subColor</td>
    <td>子状态颜色</td>
    <td>#99d6ff</td>
  </tr>
  <tr>
    <td>showInfo</td>
    <td>展示进度百分比,true/false</td>
    <td>true</td>
  </tr>
  </tbody>
</table>
