<h2>横向导航</h2>
<div style="margin-top:10px;margin-bottom: 10px;">
  <nav class="nc-navbar">
    <div class="nc-navbar-header">
      <a class="nc-navbar-brand" href="#">菜鸟教程</a>
    </div>
    <div class="nc-navbar-divider">
    </div>
    <div class="nc-navbar-body">
      <ul class="nc-navbar-nav">
        <li><a class="active" href="#home" onclick="selectNav(0)">主页</a></li>
        <li class="dropdown">
          <a class="noactive" href="#news" onclick="selectNav(1)">新闻</a><span class="carcat"></span>
          <ul class="dropdown-content">
            <li class="dropdown-item">
              <a tabindex="-1" href="javascript:void(0);">新浪</a>
            </li>
            <li class="dropdown-item">
              <a tabindex="-1" href="javascript:void(0);">搜狐</a>
            </li>
            <li class="dropdown-item">
              <a tabindex="-1" href="javascript:void(0);">小米</a>
            </li>
          </ul>
        </li>
        <li><a class="noactive"href="#contact" onclick="selectNav(2)">联系</a></li>
      </ul>
      <ul class="nc-navbar-nav">
        <li><a  class="noactive" href="#about" onclick="selectNav(3)">注册</a></li>
        <li><a  class="noactive" href="#about" onclick="selectNav(3)">登录</a></li>
      </ul>
    </div>
  </nav>
  <div class="mavcontent22">
    我是主页
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:460px;">
    <nav class="nc-navbar">
      <div class="nc-navbar-header">
        <a class="nc-navbar-brand" href="#">菜鸟教程</a>
      </div>
      <div class="nc-navbar-divider">
      </div>
      <div class="nc-navbar-body">
        <ul class="nc-navbar-nav">
          <li><a class="active" href="#home" onclick="selectNav(0)">主页</a></li>
          <li class="dropdown">
            <a class="noactive" href="#news" onclick="selectNav(1)">新闻</a><span class="carcat"></span>
            <ul class="dropdown-content">
              <li class="dropdown-item">
                <a tabindex="-1" href="javascript:void(0);">新浪</a>
              </li>
              <li class="dropdown-item">
                <a tabindex="-1" href="javascript:void(0);">搜狐</a>
              </li>
              <li class="dropdown-item">
                <a tabindex="-1" href="javascript:void(0);">小米</a>
              </li>
            </ul>
          </li>
          <li><a class="noactive"href="#contact" onclick="selectNav(2)">联系</a></li>
        </ul>
        <ul class="nc-navbar-nav">
          <li><a  class="noactive" href="#about" onclick="selectNav(3)">注册</a></li>
          <li><a  class="noactive" href="#about" onclick="selectNav(3)">登录</a></li>
        </ul>
      </div>
    </nav>
    <div class="mavcontent22">
      我是主页
    </div>
    </textarea>
  </div>
</nc-tab>


<h2>竖向导航</h2>
<div style="margin-top:10px;margin-bottom: 10px;">
  <div id="mav3" class="mav2">
    <nav class="nc-navbar nc-navbar-vertify">
      <div class="nc-navbar-header">
        <a class="nc-navbar-brand" href="#">菜鸟教程</a>
      </div>
      <div class="nc-navbar-divider">
      </div>
      <div class="nc-navbar-body">
        <ul class="nc-navbar-nav">
          <li><a class="active" href="#home" onclick="selectNav(0)">主页</a></li>
          <li><a class="noactive" href="#news" onclick="selectNav(1)">新闻</a></li>
          <li><a class="noactive"href="#contact" onclick="selectNav(2)">联系</a></li>
        </ul>
        <ul class="nc-navbar-nav">
          <li><a  class="noactive" href="#about" onclick="selectNav(3)">注册</a></li>
          <li><a  class="noactive" href="#about" onclick="selectNav(3)">登录</a></li>
        </ul>
      </div>
    </nav>
    <div class="mavcontent">
      我是主页
    </div>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems2" [(selectTab)] = "currentTab2">
  <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:460px;">
    <nav class="nc-navbar nc-navbar-vertify">
      <div class="nc-navbar-header">
        <a class="nc-navbar-brand" href="#">菜鸟教程</a>
      </div>
      <div class="nc-navbar-divider">
      </div>
      <div class="nc-navbar-body">
        <ul class="nc-navbar-nav">
          <li><a class="active" href="#home" onclick="selectNav(0)">主页</a></li>
          <li><a class="noactive" href="#news" onclick="selectNav(1)">新闻</a></li>
          <li><a class="noactive"href="#contact" onclick="selectNav(2)">联系</a></li>
        </ul>
        <ul class="nc-navbar-nav">
          <li><a  class="noactive" href="#about" onclick="selectNav(3)">注册</a></li>
          <li><a  class="noactive" href="#about" onclick="selectNav(3)">登录</a></li>
        </ul>
      </div>
    </nav>
    <div class="mavcontent">
      我是主页
    </div>
    </textarea>
  </div>
</nc-tab>

<h2>横向-竖向导航</h2>
<div style="margin-top:10px;margin-bottom: 10px;">
  <nav class="nc-navbar">
    <div class="nc-navbar-header">
      <a class="nc-navbar-brand" href="#">菜鸟教程</a>
    </div>
    <div class="nc-navbar-divider">
    </div>
    <div class="nc-navbar-body space-between">
      <ul class="nc-navbar-nav">
        <li><a class="active" href="#home" onclick="selectNav(0)">主页</a></li>
        <li><a class="noactive" href="#news" onclick="selectNav(1)">新闻</a></li>
        <li class="search"><label>搜索:</label><input type="text" /></li>
      </ul>
      <ul class="nc-navbar-nav">
        <li><a  class="noactive" href="#about" onclick="selectNav(3)">注册</a></li>
        <li><a  class="noactive" href="#about" onclick="selectNav(3)">登录</a></li>
      </ul>
    </div>
  </nav>
  <div id="mav2" class="mav2">
    <nav class="nc-navbar nc-navbar-vertify">
      <div class="nc-navbar-body">
        <ul class="nc-navbar-nav">
          <li><a class="active" href="#home" onclick="selectNav(0)">主页</a></li>
          <li><a class="noactive" href="#news" onclick="selectNav(1)">新闻</a></li>
          <li><a class="noactive"href="#contact" onclick="selectNav(2)">联系</a></li>
        </ul>
        <ul class="nc-navbar-nav">
          <li><a  class="noactive" href="#about" onclick="selectNav(3)">注册</a></li>
          <li><a  class="noactive" href="#about" onclick="selectNav(3)">登录</a></li>
        </ul>
      </div>
    </nav>
    <div class="mavcontent">
      我是主页
    </div>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems3" [(selectTab)] = "currentTab3">
  <div *ngIf="currentTab3 === 'html'">
    <textarea style="height:460px;">
    <nav class="nc-navbar">
      <div class="nc-navbar-header">
        <a class="nc-navbar-brand" href="#">菜鸟教程</a>
      </div>
      <div class="nc-navbar-divider">
      </div>
      <div class="nc-navbar-body space-between">
        <ul class="nc-navbar-nav">
          <li><a class="active" href="#home" onclick="selectNav(0)">主页</a></li>
          <li><a class="noactive" href="#news" onclick="selectNav(1)">新闻</a></li>
          <li class="search"><label>搜索:</label><input type="text" /></li>
        </ul>
        <ul class="nc-navbar-nav">
          <li><a  class="noactive" href="#about" onclick="selectNav(3)">注册</a></li>
          <li><a  class="noactive" href="#about" onclick="selectNav(3)">登录</a></li>
        </ul>
      </div>
    </nav>
    <div id="mav2" class="mav2">
      <nav class="nc-navbar nc-navbar-vertify">
        <div class="nc-navbar-body">
          <ul class="nc-navbar-nav">
            <li><a class="active" href="#home" onclick="selectNav(0)">主页</a></li>
            <li><a class="noactive" href="#news" onclick="selectNav(1)">新闻</a></li>
            <li><a class="noactive"href="#contact" onclick="selectNav(2)">联系</a></li>
          </ul>
          <ul class="nc-navbar-nav">
            <li><a  class="noactive" href="#about" onclick="selectNav(3)">注册</a></li>
            <li><a  class="noactive" href="#about" onclick="selectNav(3)">登录</a></li>
          </ul>
        </div>
      </nav>
      <div class="mavcontent">
        我是主页
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>