.nc-form-line .nc-form-item {
    display: inline-block;
}

.nc-content-start >>> .nc-form-group-label {
    justify-content: flex-start;
}

a {
    color:#1a8cff;
    cursor: pointer;
    margin-left: 5px;
}

