<h2 class="title">单选</h2>
<p>单选-radio，用于表单的单选项目</p>
<div style="margin-top: 20px;">
  <span>请选择： </span>
  <nc-radio [options]="items" [(value)]="selectItem"></nc-radio>
</div>
<div style="margin-top: 20px;">
  <span>禁止选择： </span>
  <nc-radio [options]="items2" [(value)]="selectItem2"></nc-radio>
</div>
<div style="margin-top: 20px;">
  <span>禁止选择： </span>
  <nc-radio [options]="items3" [(value)]="selectItem3"></nc-radio>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:180px;">
    <span>请选择： </span>
    <nc-radio [options]="items" [(value)]="selectItem"></nc-radio>

    <span>禁止选择： </span>
    <nc-radio [options]="items2" [(value)]="selectItem2"></nc-radio>
    <span>禁止选择： </span>
    <nc-radio [options]="items3" [(value)]="selectItem3"></nc-radio>
    </textarea>
  </div>
  <div *ngIf="currentTab === 'typescript'">
    <textarea style="height:220px;">
      items : any[] = [
        {label: '何炅', value: 'hejiong',disabled:false},
        {label: '黄磊', value: 'huanlei',disabled:false},
        {label: '大华', value: 'dahua',disabled:false}
      ];

      checkItem(item : any) {
        this.items.forEach((item) => {
          item.checked = false;
        });
        item.checked = true;
      }
    </textarea>
  </div>
</nc-tab>

<h3>参数</h3>
<table>
  <thead>
  <tr>
    <th>参数</th>
    <th>说明</th>
    <th>默认值</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>checked</td>
    <td>指定是否选择</td>
    <td>false</td>
  </tr>
  <tr>
    <td>disabled</td>
    <td>指定禁止选择,true.false</td>
    <td>false</td>
  </tr>
  </tbody>
</table>
