<h2 class="title">列表组</h2>
<p>列表组件用于以列表形式呈现复杂的和自定义的内容</p>
<h3>正常列表组</h3>
<div class="width:100%;height:80px;padding-left: 20px;display:flex;align-items:center;">
  <ul class="list-group">
    <li class="list-group-item">免费域名注册</li>
    <li class="list-group-item">免费 Window 空间托管</li>
    <li class="list-group-item">图像的数量</li>
    <li class="list-group-item">24*7 支持</li>
    <li class="list-group-item">每年更新成本</li>
  </ul>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:180px;">
    <ul class="list-group">
      <li class="list-group-item">免费域名注册</li>
      <li class="list-group-item">免费 Window 空间托管</li>
      <li class="list-group-item">图像的数量</li>
      <li class="list-group-item">24*7 支持</li>
      <li class="list-group-item">每年更新成本</li>
    </ul>
    </textarea>
  </div>
</nc-tab>

<h3>带徽章的列表组</h3>
<div class="width:100%;height:80px;padding-left: 20px;display:flex;align-items:center;">
  <ul class="list-group">
    <li class="list-group-item list-item-between">免费域名注册
      <span class="badge badge-info">11</span></li>
    <li class="list-group-item">免费 Window 空间托管</li>
    <li class="list-group-item list-item-between">图像的数量
      <span class="badge badge-warning">12</span></li>
    <li class="list-group-item ">24*7 支持</li>
    <li class="list-group-item list-item-reverse">
      <span class="badge badge-success">13</span>每年更新成本
    </li>
  </ul>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:180px;">
    <ul class="list-group">
      <li class="list-group-item list-item-between">免费域名注册
        <span class="badge badge-info">11</span></li>
      <li class="list-group-item">免费 Window 空间托管</li>
      <li class="list-group-item list-item-between">图像的数量
        <span class="badge badge-warning">12</span></li>
      <li class="list-group-item ">24*7 支持</li>
      <li class="list-group-item list-item-reverse">
        <span class="badge badge-success">13</span>每年更新成本
      </li>
    </ul>
    </textarea>
  </div>
</nc-tab>

<h3>激活列表组</h3>
<div class="width:100%;height:80px;padding-left: 20px;display:flex;align-items:center;">
  <ul class="list-group" style="width:90%;">
    <li class="list-group-item">免费域名注册</li>
    <li class="list-group-item active">免费 Window 空间托管</li>
    <li class="list-group-item">图像的数量</li>
    <li class="list-group-item">24*7 支持</li>
    <li class="list-group-item">每年更新成本</li>
  </ul>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:180px;">
    <ul class="list-group" style="width:90%;">
      <li class="list-group-item">免费域名注册</li>
      <li class="list-group-item active">免费 Window 空间托管</li>
      <li class="list-group-item">图像的数量</li>
      <li class="list-group-item">24*7 支持</li>
      <li class="list-group-item">每年更新成本</li>
    </ul>
    </textarea>
  </div>
</nc-tab>

<h3>图文列表组</h3>
<div class="width:100%;height:80px;padding-left: 20px;display:flex;align-items:center;">
  <ul class="list-group" style="width:95%;">
    <li class="list-group-item">
      <div class="list-description">
        <h5>第三碗面</h5>
        <p>第三碗面是源自京都本地的一种拉面，好像没有中文名，也在京都车站伊势丹大厦十层，你看碗面上又是双喜又是腾龙，就知道与依长安而建的京都某种程度受到的文化影响。味道中等。</p>
      </div>
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536324649165&di=cb64f610117c32b76d70bea0ff51d2fe&imgtype=0&src=http%3A%2F%2Fww2.sinaimg.cn%2Flarge%2Fa77f10ffjw1f7m2vs0y5rj20rs0ij108.jpg">
    </li>
    <li class="list-group-item">
      <div class="list-description">
        <h5>第三碗面</h5>
        <p>第三碗面是源自京都本地的一种拉面，好像没有中文名，也在京都车站伊势丹大厦十层，你看碗面上又是双喜又是腾龙，就知道与依长安而建的京都某种程度受到的文化影响。味道中等。</p>
      </div>
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536324649165&di=cb64f610117c32b76d70bea0ff51d2fe&imgtype=0&src=http%3A%2F%2Fww2.sinaimg.cn%2Flarge%2Fa77f10ffjw1f7m2vs0y5rj20rs0ij108.jpg">
    </li>
    <li class="list-group-item">
      <div class="list-description">
        <h5>第三碗面</h5>
        <p>第三碗面是源自京都本地的一种拉面，好像没有中文名，也在京都车站伊势丹大厦十层，你看碗面上又是双喜又是腾龙，就知道与依长安而建的京都某种程度受到的文化影响。味道中等。</p>
      </div>
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536324649165&di=cb64f610117c32b76d70bea0ff51d2fe&imgtype=0&src=http%3A%2F%2Fww2.sinaimg.cn%2Flarge%2Fa77f10ffjw1f7m2vs0y5rj20rs0ij108.jpg">
    </li>
    <li class="list-group-item">
      <div class="list-description">
        <h5>第三碗面</h5>
        <p>第三碗面是源自京都本地的一种拉面，好像没有中文名，也在京都车站伊势丹大厦十层，你看碗面上又是双喜又是腾龙，就知道与依长安而建的京都某种程度受到的文化影响。味道中等。</p>
      </div>
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536324649165&di=cb64f610117c32b76d70bea0ff51d2fe&imgtype=0&src=http%3A%2F%2Fww2.sinaimg.cn%2Flarge%2Fa77f10ffjw1f7m2vs0y5rj20rs0ij108.jpg">
    </li>
    <li class="list-group-item">
      <div class="list-description">
        <h5>第三碗面</h5>
        <p>第三碗面是源自京都本地的一种拉面，好像没有中文名，也在京都车站伊势丹大厦十层，你看碗面上又是双喜又是腾龙，就知道与依长安而建的京都某种程度受到的文化影响。味道中等。</p>
      </div>
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536324649165&di=cb64f610117c32b76d70bea0ff51d2fe&imgtype=0&src=http%3A%2F%2Fww2.sinaimg.cn%2Flarge%2Fa77f10ffjw1f7m2vs0y5rj20rs0ij108.jpg">
    </li>
  </ul>
</div>

<h3>滚动列表组</h3>
<div class="width:100%;height:80px;padding-left: 20px;display:flex;align-items:center;">
  <ul class="list-group unfinite-list-group" style="width:95%;">
    <li class="list-group-item">
      <div class="list-description">
        <h5>第三碗面</h5>
        <p>第三碗面是源自京都本地的一种拉面，好像没有中文名，也在京都车站伊势丹大厦十层，你看碗面上又是双喜又是腾龙，就知道与依长安而建的京都某种程度受到的文化影响。味道中等。</p>
      </div>
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536324649165&di=cb64f610117c32b76d70bea0ff51d2fe&imgtype=0&src=http%3A%2F%2Fww2.sinaimg.cn%2Flarge%2Fa77f10ffjw1f7m2vs0y5rj20rs0ij108.jpg">
    </li>
    <li class="list-group-item">
      <div class="list-description">
        <h5>第三碗面</h5>
        <p>第三碗面是源自京都本地的一种拉面，好像没有中文名，也在京都车站伊势丹大厦十层，你看碗面上又是双喜又是腾龙，就知道与依长安而建的京都某种程度受到的文化影响。味道中等。</p>
      </div>
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536324649165&di=cb64f610117c32b76d70bea0ff51d2fe&imgtype=0&src=http%3A%2F%2Fww2.sinaimg.cn%2Flarge%2Fa77f10ffjw1f7m2vs0y5rj20rs0ij108.jpg">
    </li>
    <li class="list-group-item">
      <div class="list-description">
        <h5>第三碗面</h5>
        <p>第三碗面是源自京都本地的一种拉面，好像没有中文名，也在京都车站伊势丹大厦十层，你看碗面上又是双喜又是腾龙，就知道与依长安而建的京都某种程度受到的文化影响。味道中等。</p>
      </div>
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536324649165&di=cb64f610117c32b76d70bea0ff51d2fe&imgtype=0&src=http%3A%2F%2Fww2.sinaimg.cn%2Flarge%2Fa77f10ffjw1f7m2vs0y5rj20rs0ij108.jpg">
    </li>
    <li class="list-group-item">
      <div class="list-description">
        <h5>第三碗面</h5>
        <p>第三碗面是源自京都本地的一种拉面，好像没有中文名，也在京都车站伊势丹大厦十层，你看碗面上又是双喜又是腾龙，就知道与依长安而建的京都某种程度受到的文化影响。味道中等。</p>
      </div>
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536324649165&di=cb64f610117c32b76d70bea0ff51d2fe&imgtype=0&src=http%3A%2F%2Fww2.sinaimg.cn%2Flarge%2Fa77f10ffjw1f7m2vs0y5rj20rs0ij108.jpg">
    </li>
    <li class="list-group-item">
      <div class="list-description">
        <h5>第三碗面</h5>
        <p>第三碗面是源自京都本地的一种拉面，好像没有中文名，也在京都车站伊势丹大厦十层，你看碗面上又是双喜又是腾龙，就知道与依长安而建的京都某种程度受到的文化影响。味道中等。</p>
      </div>
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536324649165&di=cb64f610117c32b76d70bea0ff51d2fe&imgtype=0&src=http%3A%2F%2Fww2.sinaimg.cn%2Flarge%2Fa77f10ffjw1f7m2vs0y5rj20rs0ij108.jpg">
    </li>
  </ul>
</div>

<div style="height: 100px;"></div>