span.badge {
  display:inline-block;
  background: #999;
  color:#fff;
  border-radius:12px;
  font-size:10px;
  padding:3px 5px;
}
span.badge:empty {
  display:none;
}
span.badge.badge-danger {
  background: #ff3333;
}
span.badge.badge-success {
  background: #4dc4ff;
}
span.badge.badge-info {
  background: #999;
}
span.badge.badge-warning {
  background: #ffa31a;
}

ul.list-group {
  list-style:none;
  padding:0;
  margin:5px 0;
  border:solid 1px #999;
  border-radius:6px;
  width:50%;
  max-width:100%;
}
ul.list-group li.list-group-item {
  display:flex;
  align-items:center;
  padding:10px 5px;
  cursor:pointer;
  width:100%;
  box-sizing:border-box;
}
ul.list-group li.list-group-item:not(.active):hover {
  background:#e5ffff;
}
ul.list-group li.list-group-item.active {
  background:#0099ff;
  color:#fff;
}
ul.list-group li.list-group-item:not(:last-child) {
  border-bottom:solid 1px #999;
}
ul.list-group li.list-item-between {
  justify-content:space-between;
}
ul.list-group li.list-item-reverse {
//flex-direction:row-reverse;
  justify-content:baseline;
}
.list-group-item img {
  height: 200px;
  margin-left: 30px;
}
ul.unfinite-list-group {
  max-height:300px;
  overflow-y: auto;
}