<h2 class="title">通知</h2>
<p>通知用来信息提示，以及操作的结果展示</p>
<h3>1. 顶部通知</h3>
<span class="demo-btn">
  <nc-button (click)="alertMsg(0)">成功通知</nc-button>
</span>
<span class="demo-btn">
  <nc-button (click)="alertMsg(1)">警告通知</nc-button>
</span>
<span class="demo-btn">
  <nc-button (click)="alertMsg(2)">错误通知</nc-button>
</span>
<span class="demo-btn">
  <nc-button (click)="alertMsg(3)">5s成功通知</nc-button>
</span>
<nc-message [type]="'success'" [(show)]="isShowList[0]">操作成功,2s后自动消失</nc-message>
<nc-message [type]="'warn'" [(show)]="isShowList[1]">我是警告消息!</nc-message>
<nc-message [type]="'error'" [(show)]="isShowList[2]">我是错误消息!</nc-message>
<nc-message [type]="'success'" [(show)]="isShowList[3]" [timerLen]="5000">操作成功,5s后自动消失</nc-message>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:180px;">
      <nc-button (click)="alertMsg(0)">成功通知</nc-button>
      <nc-button (click)="alertMsg(1)">警告通知</nc-button>
      <nc-button (click)="alertMsg(2)">错误通知</nc-button>
      <nc-button (click)="alertMsg(3)">5s成功通知</nc-button>
      <nc-message [type]="'success'" [(show)]="isShowList[0]">操作成功,2s后自动消失</nc-message>
      <nc-message [type]="'warn'" [(show)]="isShowList[1]">我是警告消息!</nc-message>
      <nc-message [type]="'error'" [(show)]="isShowList[2]">我是错误消息!</nc-message>
      <nc-message [type]="'success'" [(show)]="isShowList[3]" [timerLen]="5000">操作成功,5s后自动消失</nc-message>
    </textarea>
  </div>
  <div *ngIf="currentTab === 'typescript'">
    <textarea style="height:180px;">
      isShowList : any[] = [false,false,false,false,false,false];

      alertMsg(index : number) {
        this.isShowList[index] = true;
      }
    </textarea>
  </div>
</nc-tab>

<h3>2. 右侧通知</h3>
<span class="demo-btn">
  <nc-button (click)="alertMsg(4)">成功通知</nc-button>
</span>
<nc-message [(show)]="isShowList[4]" [style]="'right'" [headerTitle]="'创建成功'">
  <div name="content">
    <p>倚在冬的门楣，静心遥盼雪天使的降临。娉娉婷婷，风姿绰约，飘飘扬扬，曼妙万千,新特性之一是可以使 HTML 事件触发浏览器中的行为...</p>
    <p>3s后自动消失</p>
  </div>
  <a class="manage" name="footer" herf="javascript:void(0);" (click)="manage(4)">管理实例</a>
</nc-message>

<span class="demo-btn">
  <nc-button (click)="alertMsg(5)">警告消息</nc-button>
</span>
<nc-message [type]="'warn'" [(show)]="isShowList[5]" [style]="'right'" [headerTitle]="'警告消息'">
  <div name="content">
    <p>倚在冬的门楣，静心遥盼雪天使的降临。娉娉婷婷，风姿绰约，飘飘扬扬，曼妙万千,新特性之一是可以使 HTML 事件触发浏览器中的行为...</p>
    <p>3s后自动消失</p>
  </div>
  <a class="manage" name="footer" herf="javascript:void(0);" (click)="manage(5)">忽略</a>
</nc-message>

<span class="demo-btn">
  <nc-button (click)="alertMsg(6)">创建失败</nc-button>
</span>
<nc-message [type]="'error'" [(show)]="isShowList[6]" [style]="'right'" [headerTitle]="'创建失败'">
  <div name="content">
    <p>倚在冬的门楣，静心遥盼雪天使的降临。娉娉婷婷，风姿绰约，飘飘扬扬，曼妙万千,新特性之一是可以使 HTML 事件触发浏览器中的行为...</p>
    <p>3s后自动消失</p>
  </div>
  <a class="manage" name="footer" herf="javascript:void(0);" (click)="manage(6)">重新再来</a>
</nc-message>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:500px;">
      <nc-message [(show)]="isShowList[4]" [style]="'right'" [headerTitle]="'创建成功'">
        <div name="content">
          <p>倚在冬的门楣，静心遥盼雪天使的降临。娉娉婷婷，风姿绰约，飘飘扬扬，曼妙万千,新特性之一是可以使 HTML 事件触发浏览器中的行为...</p>
          <p>3s后自动消失</p>
        </div>
        <a class="manage" name="footer" herf="javascript:void(0);" (click)="manage(4)">管理实例</a>
      </nc-message>

      <nc-message [type]="'warn'" [(show)]="isShowList[5]" [style]="'right'" [headerTitle]="'警告消息'">
        <div name="content">
          <p>倚在冬的门楣，静心遥盼雪天使的降临。娉娉婷婷，风姿绰约，飘飘扬扬，曼妙万千,新特性之一是可以使 HTML 事件触发浏览器中的行为...</p>
          <p>3s后自动消失</p>
        </div>
        <a class="manage" name="footer" herf="javascript:void(0);" (click)="manage(5)">忽略</a>
      </nc-message>

      <nc-message [type]="'error'" [(show)]="isShowList[6]" [style]="'right'" [headerTitle]="'创建失败'">
        <div name="content">
          <p>倚在冬的门楣，静心遥盼雪天使的降临。娉娉婷婷，风姿绰约，飘飘扬扬，曼妙万千,新特性之一是可以使 HTML 事件触发浏览器中的行为...</p>
          <p>3s后自动消失</p>
        </div>
        <a class="manage" name="footer" herf="javascript:void(0);" (click)="manage(6)">重新再来</a>
      </nc-message>
    </textarea>
  </div>
  <div *ngIf="currentTab === 'typescript'">
    <textarea style="height:80px;">
      manage(index : number) {
        this.isShowList[index] = false;
      }
    </textarea>
  </div>
</nc-tab>


<h3>参数</h3>
<table>
  <thead>
  <tr>
    <th>参数</th>
    <th>说明</th>
    <th>默认值</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>type</td>
    <td>类型，3种取值：success，warn, error</td>
    <td>success</td>
  </tr>
  <tr>
    <td>style</td>
    <td>通知类型，2种取值：top，right</td>
    <td>top</td>
  </tr>
  <tr>
    <td>show</td>
    <td>是否显示，2种取值：true/false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>timerLen</td>
    <td>配置消失时长</td>
    <td>2000</td>
  </tr>
  <tr>
    <td>headerTitle</td>
    <td>右侧通知的标题</td>
    <td>空</td>
  </tr>
  </tbody>
</table>
