.main-app  {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  //display: flex;
  //flex-direction: column;
}
.main-app header {
  width: inherit;
  height: 65px;
  background: #001933;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 6px #0072e6;
  z-index: 10;
}
.main-app header .app-icon {
  display: flex;
  align-items: center;
  height: 65px;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.main-app header .app-icon .app-logo-title {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.main-app header .app-icon .app-logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-app header .app-icon .app-logo img {
  width: 50px;
  height: 50px;
}
.main-app header .app-icon .app-title {
  height: 100%;
  display: flex;
  color: #f2f2f2;
  font-size: 24px;
  align-items: center;
}
.app-icon .nc-anticon-menu {
  height:65px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  margin-right:30px;
}
.app-icon .nc-anticon-menu .nc-anticon {
  display:inline-block;
  width: 24px;
  border:solid 1px #d9d9d9;
  border-radius:1px;
}
.app-icon .nc-anticon-menu:before {
  content:"";
  display:inline-block;
  width: 24px;
  border:solid 1px #d9d9d9;
  border-radius:1px;
  position:absolute;
  transform: translateX(-50%);
  left:50%;
  top:20px;
}
.app-icon .nc-anticon-menu:after {
  content:"";
  display:inline-block;
  width: 24px;
  border:solid 1px #d9d9d9;
  border-radius:1px;
  position:absolute;
  transform: translateX(-50%);
  left:50%;
  bottom:20px;
}
.app-icon .nc-anticon-menu:hover {
  cursor:pointer;
}
.app-icon .nc-anticon-menu:hover .nc-anticon,
.app-icon .nc-anticon-menu:hover:before,
.app-icon .nc-anticon-menu:hover:after {
  border-color:#fff;
}
.app-icon:after {
  content:"";
  display:inline-block;
  height: 35%;
  border:solid 1px #d9d9d9;
  border-radius:1px;
  position:absolute;
  top:50%;
  right:0;
  transform: translateY(-50%);
}
.main-app header .app-menu {
  height: 100%;
  display: flex;
}
.main-app header .app-menu .menu-item {
  width: 20%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-app header .app-menu .menu-item.active {
  background:#004c99;
  font-size: 18px;
  color:#fff;
}
.main-app header .app-menu .menu-item:hover {
  cursor: pointer;
  background:#0072e6;
}
.main-app header .app-menu .menu-item a {
  color: #ccc;
  font-weight: 600;
  text-decoration: none;
}
.main-app header .app-menu .menu-item:hover a {
  color: #fff;
}
.main-app article {
  width: 100%;
  height: 100%;
  //display: flex;
  //padding-top: 5px;
  opacity: 1;
  animation:article_out 1.5s;
  -moz-animation:article_out 1.5s; /* Firefox */
  -webkit-animation:article_out 1.5s; /* Safari and Chrome */
  -o-animation:article_out 1.5s; /* Opera */
}
.main-app article .side-bars {
  height: calc(100% - 65px);
  min-height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  border-right: solid 1px #e6e6e6;
  background: #e6e6e6;
  overflow-y: scroll;
  position:fixed;
  top:65px;
  margin-left: 0;
  transition: margin-left 500ms;
}
.main-app article .content {
  padding: 40px;
  box-sizing: border-box;
  height: calc(100% - 65px);
  max-height: calc(100% - 65px);
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  transition: width 500ms,left 500ms;
}

@keyframes article_out
{
  0%   {opacity:0;}
  100% {opacity:1;}
}

/* 超小设备（手机，小于 768px） */
/* Bootstrap 中默认情况下没有媒体查询 */
@media (max-width: 767px) {
  .main-app header {
    height: auto;
    flex-direction: column;
  }
  .main-app header .app-icon {
    width: 100%;
    position: relative;
  }
  .main-app header .app-icon .nc-anticon-menu {
    margin-left:30px;
  }
  .main-app header .app-icon .app-title {
    margin-left: 20px;
  }
  .main-app header .app-menu {
    width: 100%;
    height: 45px;
    background: #0058b3;
  }
  .main-app article .side-bars {
    width: 100%;
    top:0;
    position: relative;
  }
  .main-app article .side-bars-hidden {
    margin-left: -100%;
  }
  .main-app article .content {
    width: 100%;
    left:0;
    padding: 10px;
    padding-top: 30px;
    position: relative;
  }
  .app-icon:after {
    display:none;
  }
}
/* 小型设备（平板电脑，768px 起） */
@media (min-width: 768px) {
  .main-app header .app-icon {
    width: 30%;
  }
  .main-app header .app-menu {
    width: 70%;
  }
  .main-app article .side-bars {
    width: 30%;
  }
  .main-app article .side-bars-hidden {
    margin-left: -30%;
  }
  .main-app article .content {
    width: 70%;
    left:30%;
  }
}

/* 中型设备（台式电脑，992px 起） */
@media (min-width: 992px) {
  .main-app header .app-icon {
    width: 25%;
  }
  .main-app header .app-menu {
    width: 75%;
  }
  .main-app article .side-bars {
    width: 25%;
  }
  .main-app article .side-bars-hidden {
    margin-left: -25%;
  }
  .main-app article .content {
    width: 75%;
    left:25%;
  }
}

/* 大型设备（大台式电脑，1200px 起） */
@media (min-width: 1200px) {
  .main-app header .app-icon {
    width: 20%;
  }
  .main-app header .app-menu {
    width: 80%;
  }
  .main-app article .side-bars {
    width: 20%;
  }
  .main-app article .side-bars-hidden {
    margin-left: -20%;
  }
  .main-app article .content {
    width: 80%;
    left:20%;
  }
}

.main-app article .content2 {
  width: 100%;
  left:0%;
  padding-left:15px;
}