<!--The content below is only a placeholder and can be replaced.-->
<div class="main-app">
  <header>
    <div class="app-icon">
      <div class="app-logo-title">
        <div class="app-logo"><img alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="></div>
        <div class="app-title">NG-CAT</div>
      </div>
      <div class="nc-anticon-menu" (click)="changeExtend()">
        <div class="nc-anticon"></div>
      </div>
    </div>
    <div class="app-menu">
      <div class="menu-item" *ngFor="let menuType of menuTypes" [class.active]="menuType.value === currentMenu.value"
           (click)="chickMenu(menuType)">
        <a href="javascript:void(0);">{{menuType.name}}</a>
      </div>
    </div>
  </header>
  <article>
    <div class="side-bars" [class.side-bars-hidden]="!isExtend">
      <div>
        <sidebar-about *ngIf="currentMenu.value === 'about'"></sidebar-about>
        <sidebar-pattern *ngIf="currentMenu.value === 'pattern'"></sidebar-pattern>
        <sidebar-contorl *ngIf="currentMenu.value === 'components'"></sidebar-contorl>
      </div>
    </div>

    <div class="content" [class.content2]="!isExtend">
      <router-outlet></router-outlet>
    </div>
  </article>
  <footer></footer>
</div>
