<h2 class="title">select多项选择器</h2>
<p>select多项选择器，用于表单的项目选择，包括单选和多选</p>
<h3>1. 多项选择器</h3>
<h5>正常选择</h5>
<nc-mutil-select [options]="options" [(selections)]="selectedOptions"></nc-mutil-select>
<h5>禁止选择</h5>
<nc-mutil-select [options]="options" [(selections)]="selectedOptions" [isDisable]="true"></nc-mutil-select>
<h5>部分选项禁止</h5>
<nc-mutil-select [options]="options2" [(selections)]="selectedOptions2"></nc-mutil-select>
<h3>2. 带复选框多项选择器</h3>
<nc-mutil-select [hasheckbox]="true" [options]="options" [(selections)]="selectedOptions"></nc-mutil-select>
<h5>部分选项禁止</h5>
<nc-mutil-select [hasheckbox]="true" [options]="options2" [(selections)]="selectedOptions2">
</nc-mutil-select>
<h3>3. 带全选框多项选择器</h3>
<nc-mutil-select [hasheckbox]="true" [options]="options" [(selections)]="selectedOptions" [allcheck]="true">
</nc-mutil-select>
<br/>
<nc-mutil-select [hasheckbox]="true" [options]="options2" [(selections)]="selectedOptions2" [allcheck]="true">
</nc-mutil-select>
<h3>4.  显示选择个数多项选择器</h3>
<nc-mutil-select [showCheckNum]="true" [options]="options" [(selections)]="selectedOptions"></nc-mutil-select>
<br/>
<nc-mutil-select [showCheckNum]="true" [hasheckbox]="true" [options]="options" [(selections)]="selectedOptions">
</nc-mutil-select>
<h3>5. 自定义尺寸</h3>
<nc-mutil-select [options]="options" [(selections)]="selectedOptions" [width]="220"></nc-mutil-select>
<br/>
<nc-mutil-select [hasheckbox]="true" [options]="options" [(selections)]="selectedOptions" [width]="620"></nc-mutil-select>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [type]="'line'" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:300px;">
    <!--h3>1. 多项选择器</h3>-->
    <nc-mutil-select [options]="options" [(selections)]="selectedOptions"></nc-mutil-select>
    <nc-mutil-select [options]="options" [(selections)]="selectedOptions" [isDisable]="true"></nc-mutil-select>
    <nc-mutil-select [options]="options2" [(selections)]="selectedOptions"></nc-mutil-select>
    <!--h3>2. 带复选框多项选择器</h3>-->
    <nc-mutil-select [hasheckbox]="true" [options]="options" [(selections)]="selectedOptions"></nc-mutil-select>
    <nc-mutil-select [hasheckbox]="true" [options]="options2" [(selections)]="selectedOptions">
    </nc-mutil-select>
    <!--h3>3. 带全选框多项选择器</h3>-->
    <nc-mutil-select [hasheckbox]="true" [options]="options" [(selections)]="selectedOptions" [allcheck]="true">
    </nc-mutil-select>
    <nc-mutil-select [hasheckbox]="true" [options]="options2" [(selections)]="selectedOptions" [allcheck]="true">
    </nc-mutil-select>
    <!--h3>4.  显示选择个数多项选择器</h3>-->
    <nc-mutil-select [showCheckNum]="true" [options]="options" [(selections)]="selectedOptions"></nc-mutil-select>
    <nc-mutil-select [showCheckNum]="true" [hasheckbox]="true" [options]="options" [(selections)]="selectedOptions">
    </nc-mutil-select>
    <!--h3>5.  自定义尺寸</h3>-->
    <nc-mutil-select [options]="options" [(selections)]="selectedOptions" [width]="220"></nc-mutil-select>
    <nc-mutil-select [hasheckbox]="true" [options]="options" [(selections)]="selectedOptions" [width]="620"></nc-mutil-select>
    </textarea>
  </div>
  <div *ngIf="currentTab === 'typescript'">
    <textarea style="height:200px;">
      options : any[] = [{label: 'paletxUI-paletxUI-paletxUI-paletxUI-paletxUI-paletxUI-paletxUI-paletxUI',
        value: 'paletxui',disable: false},
        {label: 'Iaas',value: 'iaas',disable: false},
        {label: 'Paas',value: 'paas',disable: false},{label: 'Saas',value: 'saas',disable: false},
        {label: 'NG-ANT',value: 'ng-ant',disable: false}];
      selectedOptions = [{label: 'Paas',value: 'paas'},{label: 'Saas',value: 'saas'}];
      options2 : any[] = [{label: 'paletxUI-paletxUI-paletxUI-paletxUI-paletxUI-paletxUI-paletxUI-paletxUI',
        value: 'paletxui',disable: true},
        {label: 'Iaas',value: 'iaas',disable: false},
        {label: 'Paas',value: 'paas',disable: true},{label: 'Saas',value: 'saas',disable: false},
        {label: 'NG-ANT',value: 'ng-ant',disable: false}];
    </textarea>
  </div>
</nc-tab>

<h3>参数</h3>
<table>
  <thead>
  <tr>
    <th>参数</th>
    <th>说明</th>
    <th>默认值</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>options</td>
    <td>select项目列表</td>
    <td>[]</td>
  </tr>
  <tr>
    <td>selections</td>
    <td>默认选择项列表</td>
    <td>[]</td>
  </tr>
  <tr>
    <td>isDisable</td>
    <td>是否禁用,true/false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>hasheckbox</td>
    <td>是否带复选框,true/false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>allcheck</td>
    <td>是否带全选框,true/false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>showCheckNum</td>
    <td>是否显示选择数目,true/false</td>
    <td>false</td>
  </tr>
  <tr>
    <td>width</td>
    <td>自定义选择器宽度，Number</td>
    <td>420</td>
  </tr>
  </tbody>
</table>
