<h2 class="title" *ngIf="!insert">日期和时间选择器</h2>
<p>日期和时间选择器，输入或选择日期和时间的控件，用于日期和时间的选择</p>

<div *ngIf="!insert">
<h3>1. 年份选择器</h3>
<demo-year-selector [insert]="true"></demo-year-selector>

<h3>2. 月份选择器</h3>
<demo-month-selector [insert]="true"></demo-month-selector>

<h3>3. 日期选择器</h3>
<demo-date-selector [insert]="true"></demo-date-selector>

<h3>4. 时间选择器</h3>
<demo-time-selector [insert]="true"></demo-time-selector>
</div>

<h3 *ngIf="!insert">5. 日期时间选择器</h3>
<p>当用户需要输入一个日期或时间，可以点击标准输入框，弹出面板进行选择</p>
<h4>单独面板</h4>
<nc-date-time-selector [(date)]="date"></nc-date-time-selector>
<p>选择的日期和时间: {{date.toJSON()}}</p>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems4" [(selectTab)] = "currentTab4">
    <div *ngIf="currentTab4 === 'html'">
    <textarea style="height:50px;">
    <nc-date-time-selector [(date)]="date"></nc-date-time-selector>
    <p>选择的日期和时间: {{date.toJSON()}}</p>
    </textarea>
    </div>
</nc-tab>

<h4>日期时间选择输入框</h4>
<nc-date-time-selector [(date)]="date2" [type]="'input'"></nc-date-time-selector>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [type]="'line'" [(selectTab)] = "currentTab">
    <div *ngIf="currentTab === 'html'">
    <textarea style="height:60px;">
    <nc-date-time-selector [(date)]="date" [type]="'input'"></nc-date-time-selector>
    </textarea>
    </div>
    <div *ngIf="currentTab === 'typescript'">
    <textarea style="height:60px;">
    date : any = new Date();
    </textarea>
    </div>
</nc-tab>

<h4>选择器和按钮联合使用</h4>
<div class="nc-selector-container">
    <nc-button (click)="openSelector()">普通按钮</nc-button>
    <nc-date-time-selector *ngIf="isShow" class="nc-selector" [(date)]="date3"
                           (dateChange)="dateChange()"></nc-date-time-selector>
</div>
<p>选择的时间: {{date3.toJSON()}}</p>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems3" [type]="'line'" [(selectTab)] = "currentTab3">
    <div *ngIf="currentTab3 === 'html'">
    <textarea style="height:100px;">
    <div class="nc-selector-container">
        <nc-button (click)="openSelector()">普通按钮</nc-button>
        <nc-date-time-selector *ngIf="isShow" class="nc-selector" [(date)]="date2"
                               (dateChange)="dateChange()"></nc-date-time-selector>
    </div>
    <p>选择的时间: {{date2.toJSON()}}</p>
    </textarea>
    </div>
    <div *ngIf="currentTab3 === 'typescript'">
    <textarea style="height:60px;">
    date2 : any = new Date()
    isShow : boolean = false;

    openSelector() {
        this.isShow = !this.isShow;
    }
    dateChange() {
        this.isShow = false;
    }
    </textarea>
    </div>
</nc-tab>

<h4>自定义宽度和显示格式</h4>
<div>
    <div style="display: inline-block;float: left;">
        <nc-date-time-selector [(date)]="date4" [type]="'input'" [width]="'200px'"></nc-date-time-selector>
    </div>
    <div style="display: inline-block;float: left;width:50px;height:30px;"></div>
    <div style="display: inline-block;float: left;">
        <nc-date-time-selector [(date)]="date4" [type]="'input'" [width]="'400px'"
                               [ncFormat]="'yyyy/mm/dd hh-mm-ss'"></nc-date-time-selector>
    </div>
</div>
<p style="clear: both;">使用方式:</p>
<nc-tab [tabs]="tabItems2" [type]="'line'" [(selectTab)] = "currentTab2">
    <div *ngIf="currentTab2 === 'html'">
    <textarea style="height:60px;">
    <nc-date-selector [(date)]="date" [type]="'input'" [width]="'200px'"></nc-date-selector>
    <nc-date-selector [(date)]="date" [type]="'input'" [width]="'400px'" [ncFormat]="'yyyy-mm-dd'"></nc-date-selector>
    </textarea>
    </div>
</nc-tab>

<h3 *ngIf="!insert">nc-date-time-selector-参数</h3>
<table *ngIf="!insert">
    <thead>
    <tr>
        <th>参数</th>
        <th>说明</th>
        <th>默认值</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>type</td>
        <td>类型,single/input</td>
        <td>single</td>
    </tr>
    <tr>
        <td>date</td>
        <td>日期对象</td>
        <td>object()</td>
    </tr>
    <tr>
        <td>width</td>
        <td>自定义宽度，px或百分比，比如：50%，400px</td>
        <td>100%</td>
    </tr>
    <tr>
        <td>ncFormat</td>
        <td>自定义显示格式</td>
        <td>yyyy/mm/dd</td>
    </tr>
    </tbody>
</table>
