<h1>Ng-Cat</h1>
<p>Ng-Cat，全名是Ng-Shadow-Cat，中文名叫“幻影猫”，源于超级英雄电影&laquo;X战警&raquo;中的幻影猫，寓意是变幻莫测。
    <br/>
    它是一套前端组件库的Angular实现，包括珊格系统，模式以及各种通用的组件。
</p>

<h2>特性</h2>
<ul style="margin-left: 30px;">
    <li>开箱即用的Angular组件。</li>
    <li>适配移动端，不同尺寸屏幕均额适用的组件。</li>
    <li>使用 TypeScript 构建，提供完整的类型定义文件。</li>
</ul>

<h2>支持环境</h2>
<p>现代浏览器和 IE11 及以上（需要 polyfills）。</p>

<h2>当前版本</h2>
<p>V1.0.3</p>

<h2>支持 Angular 版本</h2>
<p>目前支持 Angular ^6.0.0 版本。</p>

<h2>项目地址</h2>
<p><a href="https://github.com/blueskyawen/ng-shadow-cat" target="_blank">Ng-Shadow-Cat</a></p>

<h2>链接</h2>
<ul style="margin-left: 30px;list-style: circle;">
    <li><a href="https://angular.cn/docs" target="_blank">Angular官方文档</a></li>
    <li><a href="https://cli.angular.io/" target="_blank">Angular CLI</a></li>
    <li><a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a></li>
    <li><a href="http://blueskyawen.com/boot-shadow" target="_blank">Boot-Shadow</a></li>
</ul>

<br/>
<br/>