.page-header {
  margin:5px 10px;
}
.page-header header {
  display:flex;
  align-items:center;
  margin:10px 0;
}
.page-header header h2 {
  margin:0;
}
.page-header .question {
  display:inline-block;
  width:18px;
  height:18px;
  border-radius:50%;
  border:solid 1px;
  font-size:12px;
  text-align:center;
  line-height:18px;
  margin-left:10px;
}
.page-header .question:hover {
  cursor:pointer;
}
.page-header .description {
  font-size:12px;
  color:#666;
}
