<h1>快速上手</h1>
<p>Ng-Shadow-Cat是一套前端组件库的Angular实现，封装了常用的一些UI组件,珊格系统和模式</p>
<p>假设你已了解关于 HTML、CSS 和 JavaScript 的中级知识，并且已经完全掌握了Angular的基本开发方式，便可使用</p>

<h2>下载方式</h2>
<pre>
    npm install ng-shadow-cat-d --save-dev
</pre>

<h2>使用方式</h2>

<h4>1. 安装Cli</h4>
<pre>
    npm install -g @angular/cli
</pre>
<ul style="list-style: none;margin: 20px 10px;border-left:solid 5px #4d79ff;padding-left: 20px;">
  <li>请务必确认Node.js的版本是v8.10或以上，建议升级至最新版本的@angular/cli</li>
</ul>
<p>查看cli脚手架版本，有版本信息呈现则安装成功</p>
<pre>
    ng -v
</pre>

<h4>2. 新建angular项目</h4>
<pre>
    ng new my-app
</pre>


<h4>3. 下载Ng-Shadow-Cat库</h4>
<pre>
    npm install ng-shadow-cat-d --save-dev
</pre>

<h4>4. 配置模块</h4>
<p>在app.module.ts配置ng-shadow-cat-d</p>
<pre>
    import &#123; BrowserModule &#125; from '@angular/platform-browser';
    import &#123; NgModule &#125; from '@angular/core';
    import &#123; AppRoutingModule &#125; from './app-routing.module';
    import &#123; LibModule &#125; from 'ng-shadow-cat-d';

    import &#123; AppComponent &#125; from './app.component';

    @NgModule(&#123;
      imports: [
        BrowserModule,AppRoutingModule,LibModule
      ],
      declarations: [
        AppComponent
      ],
      providers: [],
      bootstrap: [AppComponent]
    &#125;)
    export class AppModule &#123;&#125;
</pre>

<h4>5. 配置样式</h4>
<p>更新.angular-cli.json配置</p>
<pre>
    "styles": [
        "./node_modules/ng-shadow-cat-d/ng-shadow-cat-d.css"
    ],
    "scripts": [
    ],
</pre>

<br/>
<br/>


