<h3>栅格系统</h3>

<h4>1.栅格类</h4>
<ul class="list-demo">
  <li>.nc-xs-col-N,超小型桌面,手机,默认场景 - 屏幕宽度小于 576px</li>
  <li>.nc-sm-col-N,小型桌面,平板 - 屏幕宽度等于或大于 576px</li>
  <li>.nc-md-col-N,中型桌面屏幕 - 屏幕宽度等于或大于 768px</li>
  <li>.nc-lg-col-N,大型桌面屏幕 - 屏幕宽度等于或大于 992px</li>
  <li>.nc-xl-col-N,超大桌面显示器 - 屏幕宽度等于或大于 1200px</li>
</ul>

<div class="nc-container">
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
    <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
    <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
    <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
    <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
    <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
    <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
    <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
    <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
    <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
    <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
    <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-2"><div>1/6</div></div>
    <div class="nc-col nc-xs-col-2"><div>1/6</div></div>
    <div class="nc-col nc-xs-col-2"><div>1/6</div></div>
    <div class="nc-col nc-xs-col-2"><div>1/6</div></div>
    <div class="nc-col nc-xs-col-2"><div>1/6</div></div>
    <div class="nc-col nc-xs-col-2"><div>1/6</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
    <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
    <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
    <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
    <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
    <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
    <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
    <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-12"><div>1/1</div></div>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:220px;">
    <div class="nc-container">
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
        <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
        <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
        <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
        <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
        <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
        <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
        <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
        <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
        <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
        <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
        <div class="nc-col nc-xs-col-1"><div>1/12</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-2"><div>1/6</div></div>
        <div class="nc-col nc-xs-col-2"><div>1/6</div></div>
        <div class="nc-col nc-xs-col-2"><div>1/6</div></div>
        <div class="nc-col nc-xs-col-2"><div>1/6</div></div>
        <div class="nc-col nc-xs-col-2"><div>1/6</div></div>
        <div class="nc-col nc-xs-col-2"><div>1/6</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
        <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
        <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
        <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
        <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
        <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
        <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
        <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-12"><div>1/1</div></div>
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>
<h3>列组合</h3>
<div class="nc-container">
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
    <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
    <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
    <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-2"><div>2/12</div></div>
    <div class="nc-col nc-xs-col-10"><div>10/12</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
    <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
    <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
    <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:220px;">
    <div class="nc-container">
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
        <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
        <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
        <div class="nc-col nc-xs-col-3"><div>1/4</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-2"><div>2/12</div></div>
        <div class="nc-col nc-xs-col-10"><div>10/12</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
        <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
        <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
        <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>
<h3>列嵌套</h3>
<div class="nc-container">
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-4">
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
        <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
      </div>
    </div>
    <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
    <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
    <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:220px;">
    <div class="nc-container">
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-4">
          <div class="nc-row nc-row2">
            <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
            <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
          </div>
        </div>
        <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
        <div class="nc-col nc-xs-col-4"><div>1/3</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
        <div class="nc-col nc-xs-col-6"><div>1/2</div></div>
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>

<h4>2.栅格偏移类</h4>
<ul class="list-demo">
  <li>.nc-xs-offset-N,超小型桌面,手机,默认场景</li>
  <li>.nc-sm-offset-N,小型桌面,平板</li>
  <li>.nc-md-offset-N,中型桌面屏幕</li>
  <li>.nc-lg-offset-N,大型桌面屏幕</li>
  <li>.nc-xl-offset-N,超大桌面显示器</li>
</ul>

<h3>列偏移</h3>
<div class="nc-container">
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-2 nc-xs-offset-3"><div>1/6-A</div></div>
    <div class="nc-col nc-xs-col-4 nc-xs-offset-1"><div>1/3-B</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-2"><div>1/6-A</div></div>
    <div class="nc-col nc-xs-col-2 nc-xs-offset-6"><div>1/6-B</div></div>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:220px;">
    <div class="nc-container">
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-2 nc-xs-offset-3"><div>1/6-A</div></div>
        <div class="nc-col nc-xs-col-4 nc-xs-offset-1"><div>1/3-B</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-2"><div>1/6-A</div></div>
        <div class="nc-col nc-xs-col-2 nc-xs-offset-6"><div>1/6-B</div></div>
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>

<h4>3.列排序类</h4>
<ul class="list-demo">
  <li>.nc-container/.nc-row,正常水平排列</li>
  <li>.nc-container-reverse/.nc-row-reverse,反向水平排列</li>
  <li>.nc-container-column/.nc-row-column,正常垂直排列</li>
  <li>.nc-container-column-reverse/.nc-row-column-reverse,反向垂直排列</li>
</ul>
<div class="nc-container">
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-4"><div>1/3-A</div></div>
    <div class="nc-col nc-xs-col-4"><div>1/3-B</div></div>
    <div class="nc-col nc-xs-col-4"><div>1/3-C</div></div>
  </div>
  <div class="nc-row nc-row2 nc-row-reverse">
    <div class="nc-col nc-xs-col-4"><div>1/3-A</div></div>
    <div class="nc-col nc-xs-col-4"><div>1/3-B</div></div>
    <div class="nc-col nc-xs-col-4"><div>1/3-C</div></div>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:220px;">
    <div class="nc-container">
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-4"><div>1/3-A</div></div>
        <div class="nc-col nc-xs-col-4"><div>1/3-B</div></div>
        <div class="nc-col nc-xs-col-4"><div>1/3-C</div></div>
      </div>
      <div class="nc-row nc-row2 nc-row-reverse">
        <div class="nc-col nc-xs-col-4"><div>1/3-A</div></div>
        <div class="nc-col nc-xs-col-4"><div>1/3-B</div></div>
        <div class="nc-col nc-xs-col-4"><div>1/3-C</div></div>
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>

<h4>4.列排序方式类</h4>
<ul class="list-demo">
  <li>.nc-content-start,子元素放置于主轴延伸方向的起点处</li>
  <li>.nc-content-end,子元素放置于主轴延伸方向的终点处</li>
  <li>.nc-content-center,子元素放置于主轴延伸方向的中点处，两边的剩余空间平均分布</li>
  <li>.nc-content-space-between,两端对齐，元素之间的间隔都相等</li>
  <li>.nc-content-space-around,每个元素两侧的间隔相等，项目之间的间隔比项目与边框的间隔大一倍</li>
</ul>
<ul class="list-demo">
  <li>.nc-align-item-start,子元素放置于次轴延伸方向的起点处</li>
  <li>.nc-align-item-end,子元素放置于次轴延伸方向的起终点处</li>
  <li>.nc-align-item-baseline,所有子元素均与其基线对齐</li>
  <li>.nc-align-item-center,子元素放置于次轴延伸方向的中点处，两边的剩余空间平均分布</li>
  <li>.nc-align-item-stretch,拉伸子元素以填充包含块</li>
</ul>

<div class="nc-container">
  <div class="nc-row nc-row2 nc-content-start">
    <div class="nc-col nc-xs-col-2"><div>1/6-A</div></div>
    <div class="nc-col nc-xs-col-2"><div>1/6-B</div></div>
    <div class="nc-col nc-xs-col-2"><div>1/6-C</div></div>
  </div>
  <div class="nc-row nc-row2 nc-content-center">
    <div class="nc-col nc-xs-col-2"><div>1/6-A</div></div>
    <div class="nc-col nc-xs-col-2"><div>1/6-B</div></div>
    <div class="nc-col nc-xs-col-2"><div>1/6-C</div></div>
  </div>
  <div class="nc-row nc-row2 nc-content-end">
    <div class="nc-col nc-xs-col-2"><div>1/6-A</div></div>
    <div class="nc-col nc-xs-col-2"><div>1/6-B</div></div>
    <div class="nc-col nc-xs-col-2"><div>1/6-C</div></div>
  </div>
  <div class="nc-row nc-row2 nc-content-space-between">
    <div class="nc-col nc-xs-col-2"><div>1/6-A</div></div>
    <div class="nc-col nc-xs-col-2"><div>1/6-B</div></div>
    <div class="nc-col nc-xs-col-2"><div>1/6-C</div></div>
  </div>
  <div class="nc-row nc-row2 nc-content-space-around">
    <div class="nc-col nc-xs-col-2"><div>1/6-A</div></div>
    <div class="nc-col nc-xs-col-2"><div>1/6-B</div></div>
    <div class="nc-col nc-xs-col-2"><div>1/6-C</div></div>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:220px;">
    <div class="nc-container">
      <div class="nc-row nc-row2 nc-content-start">
        <div class="nc-col nc-xs-col-2"><div>1/6-A</div></div>
        <div class="nc-col nc-xs-col-2"><div>1/6-B</div></div>
        <div class="nc-col nc-xs-col-2"><div>1/6-C</div></div>
      </div>
      <div class="nc-row nc-row2 nc-content-center">
        <div class="nc-col nc-xs-col-2"><div>1/6-A</div></div>
        <div class="nc-col nc-xs-col-2"><div>1/6-B</div></div>
        <div class="nc-col nc-xs-col-2"><div>1/6-C</div></div>
      </div>
      <div class="nc-row nc-row2 nc-content-end">
        <div class="nc-col nc-xs-col-2"><div>1/6-A</div></div>
        <div class="nc-col nc-xs-col-2"><div>1/6-B</div></div>
        <div class="nc-col nc-xs-col-2"><div>1/6-C</div></div>
      </div>
      <div class="nc-row nc-row2 nc-content-space-between">
        <div class="nc-col nc-xs-col-2"><div>1/6-A</div></div>
        <div class="nc-col nc-xs-col-2"><div>1/6-B</div></div>
        <div class="nc-col nc-xs-col-2"><div>1/6-C</div></div>
      </div>
      <div class="nc-row nc-row2 nc-content-space-around">
        <div class="nc-col nc-xs-col-2"><div>1/6-A</div></div>
        <div class="nc-col nc-xs-col-2"><div>1/6-B</div></div>
        <div class="nc-col nc-xs-col-2"><div>1/6-C</div></div>
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>

<h4>5.元素显示次序</h4>
<ul class="list-demo">
  <li>.nc-flex-order-N,排列顺序跟order的index一致</li>
</ul>
<div class="nc-container">
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-4"><div>1/3-A</div></div>
    <div class="nc-col nc-xs-col-4"><div>1/3-B</div></div>
    <div class="nc-col nc-xs-col-4"><div>1/3-C</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-4 nc-flex-order-3"><div>1/3-A</div></div>
    <div class="nc-col nc-xs-col-4 nc-flex-order-1"><div>1/3-B</div></div>
    <div class="nc-col nc-xs-col-4 nc-flex-order-2"><div>1/3-C</div></div>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:220px;">
    <div class="nc-container">
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-4"><div>1/3-A</div></div>
        <div class="nc-col nc-xs-col-4"><div>1/3-B</div></div>
        <div class="nc-col nc-xs-col-4"><div>1/3-C</div></div>
      </div>
      <div class="nc-row nc-row2 nc-row-reverse">
        <div class="nc-col nc-xs-col-4 nc-flex-order-3"><div>1/3-A</div></div>
        <div class="nc-col nc-xs-col-4 nc-flex-order-1"><div>1/3-B</div></div>
        <div class="nc-col nc-xs-col-4 nc-flex-order-2"><div>1/3-C</div></div>
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>


<h4>6.其他flex类</h4>
<ul class="list-demo">
  <li>.nc-flex-wrap,子元素自动换行，第一行在上方</li>
  <li>.nc-flex-wrap-reverse,子元素自动换行，第一行在下方</li>
  <li>.nc-flex-nowrap，子元素不换行</li>
</ul>
<ul class="list-demo">
  <li>.nc-align-self-auto</li>
  <li>.nc-align-self-start</li>
  <li>.nc-align-self-end</li>
  <li>.nc-align-self-center</li>
  <li>.nc-align-self-baseline</li>
  <li>.nc-align-self-stretch</li>
</ul>
<p style="border-left:solid 3px blue;padding-left: 15px;">.nc-align-self-类效果与.nc-align-item-..类似，可覆盖之</p>

<h4>7.内容display类</h4>
<p>type: none/block/inline-block/flex/inline-flex</p>
<ul class="list-demo">
  <li>.nc-xs-display-:type</li>
  <li>.nc-sm-display-:type</li>
  <li>.nc-md-display-:type</li>
  <li>.nc-lg-display-:type</li>
  <li>.nc-xl-display-:type</li>
</ul>
<div class="nc-container nc-xs-display-none nc-sm-display-block nc-md-display-none nc-lg-display-block nc-xl-display-block">
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-4"><div>1/3-A</div></div>
    <div class="nc-col nc-xs-col-4"><div>1/3-B</div></div>
    <div class="nc-col nc-xs-col-4"><div>1/3-C</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-xs-col-4 nc-flex-order-3"><div>1/3-A</div></div>
    <div class="nc-col nc-xs-col-4 nc-flex-order-1"><div>1/3-B</div></div>
    <div class="nc-col nc-xs-col-4 nc-flex-order-2"><div>1/3-C</div></div>
  </div>
</div>
<p>使用方式:</p>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:220px;">
    <div class="nc-container nc-xs-display-none nc-sm-display-block nc-md-display-none nc-lg-display-block nc-xl-display-block">
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-4"><div>1/3-A</div></div>
        <div class="nc-col nc-xs-col-4"><div>1/3-B</div></div>
        <div class="nc-col nc-xs-col-4"><div>1/3-C</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-xs-col-4 nc-flex-order-3"><div>1/3-A</div></div>
        <div class="nc-col nc-xs-col-4 nc-flex-order-1"><div>1/3-B</div></div>
        <div class="nc-col nc-xs-col-4 nc-flex-order-2"><div>1/3-C</div></div>
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>

<nc-toTop [type]="'rocket'" [parentId]="'nc-content'"></nc-toTop>

