.nc-col div {
  height:100%;
  width:100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items:center;
  color: #fff;
}
.nc-col:nth-child(odd) div {
  background: #1a8cff;
}
.nc-col:nth-child(even) div {
  background: #99ccff;
}
.nc-row2 {
  height:30px;
  margin-top:2px;
  margin-bottom:2px;
}
.nc-row2 .nc-col {
  height:30px;
}
