<h3>栅格系统</h3>
<div class="nc-container">
  <div class="nc-row nc-row2">
    <div class="nc-col nc-col-1"><div>1/12</div></div>
    <div class="nc-col nc-col-1"><div>1/12</div></div>
    <div class="nc-col nc-col-1"><div>1/12</div></div>
    <div class="nc-col nc-col-1"><div>1/12</div></div>
    <div class="nc-col nc-col-1"><div>1/12</div></div>
    <div class="nc-col nc-col-1"><div>1/12</div></div>
    <div class="nc-col nc-col-1"><div>1/12</div></div>
    <div class="nc-col nc-col-1"><div>1/12</div></div>
    <div class="nc-col nc-col-1"><div>1/12</div></div>
    <div class="nc-col nc-col-1"><div>1/12</div></div>
    <div class="nc-col nc-col-1"><div>1/12</div></div>
    <div class="nc-col nc-col-1"><div>1/12</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-col-2"><div>1/6</div></div>
    <div class="nc-col nc-col-2"><div>1/6</div></div>
    <div class="nc-col nc-col-2"><div>1/6</div></div>
    <div class="nc-col nc-col-2"><div>1/6</div></div>
    <div class="nc-col nc-col-2"><div>1/6</div></div>
    <div class="nc-col nc-col-2"><div>1/6</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-col-3"><div>1/4</div></div>
    <div class="nc-col nc-col-3"><div>1/4</div></div>
    <div class="nc-col nc-col-3"><div>1/4</div></div>
    <div class="nc-col nc-col-3"><div>1/4</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-col-6"><div>1/2</div></div>
    <div class="nc-col nc-col-6"><div>1/2</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-col-4"><div>1/3</div></div>
    <div class="nc-col nc-col-4"><div>1/3</div></div>
    <div class="nc-col nc-col-4"><div>1/3</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-col-6"><div>1/2</div></div>
    <div class="nc-col nc-col-6"><div>1/2</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-col-12"><div>1/1</div></div>
  </div>
</div>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:220px;">
    <div class="nc-container">
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-1"><div>1/12</div></div>
        <div class="nc-col nc-col-1"><div>1/12</div></div>
        <div class="nc-col nc-col-1"><div>1/12</div></div>
        <div class="nc-col nc-col-1"><div>1/12</div></div>
        <div class="nc-col nc-col-1"><div>1/12</div></div>
        <div class="nc-col nc-col-1"><div>1/12</div></div>
        <div class="nc-col nc-col-1"><div>1/12</div></div>
        <div class="nc-col nc-col-1"><div>1/12</div></div>
        <div class="nc-col nc-col-1"><div>1/12</div></div>
        <div class="nc-col nc-col-1"><div>1/12</div></div>
        <div class="nc-col nc-col-1"><div>1/12</div></div>
        <div class="nc-col nc-col-1"><div>1/12</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-2"><div>1/6</div></div>
        <div class="nc-col nc-col-2"><div>1/6</div></div>
        <div class="nc-col nc-col-2"><div>1/6</div></div>
        <div class="nc-col nc-col-2"><div>1/6</div></div>
        <div class="nc-col nc-col-2"><div>1/6</div></div>
        <div class="nc-col nc-col-2"><div>1/6</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-3"><div>1/4</div></div>
        <div class="nc-col nc-col-3"><div>1/4</div></div>
        <div class="nc-col nc-col-3"><div>1/4</div></div>
        <div class="nc-col nc-col-3"><div>1/4</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-6"><div>1/2</div></div>
        <div class="nc-col nc-col-6"><div>1/2</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-4"><div>1/3</div></div>
        <div class="nc-col nc-col-4"><div>1/3</div></div>
        <div class="nc-col nc-col-4"><div>1/3</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-6"><div>1/2</div></div>
        <div class="nc-col nc-col-6"><div>1/2</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-12"><div>1/1</div></div>
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>
<h3>列组合</h3>
<div class="nc-container">
  <div class="nc-row nc-row2">
    <div class="nc-col nc-col-3"><div>1/4</div></div>
    <div class="nc-col nc-col-3"><div>1/4</div></div>
    <div class="nc-col nc-col-3"><div>1/4</div></div>
    <div class="nc-col nc-col-3"><div>1/4</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-col-2"><div>2/12</div></div>
    <div class="nc-col nc-col-10"><div>10/12</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-col-4"><div>1/3</div></div>
    <div class="nc-col nc-col-4"><div>1/3</div></div>
    <div class="nc-col nc-col-4"><div>1/3</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-col-6"><div>1/2</div></div>
    <div class="nc-col nc-col-6"><div>1/2</div></div>
  </div>
</div>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:220px;">
    <div class="nc-container">
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-3"><div>1/4</div></div>
        <div class="nc-col nc-col-3"><div>1/4</div></div>
        <div class="nc-col nc-col-3"><div>1/4</div></div>
        <div class="nc-col nc-col-3"><div>1/4</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-2"><div>2/12</div></div>
        <div class="nc-col nc-col-10"><div>10/12</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-4"><div>1/3</div></div>
        <div class="nc-col nc-col-4"><div>1/3</div></div>
        <div class="nc-col nc-col-4"><div>1/3</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-6"><div>1/2</div></div>
        <div class="nc-col nc-col-6"><div>1/2</div></div>
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>
<h3>列嵌套</h3>
<div class="nc-container">
  <div class="nc-row nc-row2">
    <div class="nc-col nc-col-4">
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-6"><div>1/2</div></div>
        <div class="nc-col nc-col-6"><div>1/2</div></div>
      </div>
    </div>
    <div class="nc-col nc-col-4"><div>1/3</div></div>
    <div class="nc-col nc-col-4"><div>1/3</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-col-6"><div>1/2</div></div>
    <div class="nc-col nc-col-6"><div>1/2</div></div>
  </div>
</div>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:220px;">
    <div class="nc-container">
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-4">
          <div class="nc-row nc-row2">
            <div class="nc-col nc-col-6"><div>1/2</div></div>
            <div class="nc-col nc-col-6"><div>1/2</div></div>
          </div>
        </div>
        <div class="nc-col nc-col-4"><div>1/3</div></div>
        <div class="nc-col nc-col-4"><div>1/3</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-6"><div>1/2</div></div>
        <div class="nc-col nc-col-6"><div>1/2</div></div>
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>
<h3>列排序</h3>
<div class="nc-container">
  <div class="nc-row nc-row2 nc-direction-row">
    <div class="nc-col nc-col-4"><div>1/3-A</div></div>
    <div class="nc-col nc-col-4"><div>1/3-B</div></div>
    <div class="nc-col nc-col-4"><div>1/3-C</div></div>
  </div>
  <div class="nc-row nc-row2 nc-direction-row-reverse">
    <div class="nc-col nc-col-4"><div>1/3-A</div></div>
    <div class="nc-col nc-col-4"><div>1/3-B</div></div>
    <div class="nc-col nc-col-4"><div>1/3-C</div></div>
  </div>
</div>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:220px;">
    <div class="nc-container">
      <div class="nc-row nc-row2 nc-direction-row">
        <div class="nc-col nc-col-4"><div>1/3-A</div></div>
        <div class="nc-col nc-col-4"><div>1/3-B</div></div>
        <div class="nc-col nc-col-4"><div>1/3-C</div></div>
      </div>
      <div class="nc-row nc-row2 nc-direction-row-reverse">
        <div class="nc-col nc-col-4"><div>1/3-A</div></div>
        <div class="nc-col nc-col-4"><div>1/3-B</div></div>
        <div class="nc-col nc-col-4"><div>1/3-C</div></div>
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>
<h3>列偏移</h3>
<div class="nc-container">
  <div class="nc-row nc-row2">
    <div class="nc-col nc-col-2 nc-offset-3"><div>1/6-A</div></div>
    <div class="nc-col nc-col-4 nc-offset-1"><div>1/3-B</div></div>
  </div>
  <div class="nc-row nc-row2">
    <div class="nc-col nc-col-2"><div>1/6-A</div></div>
    <div class="nc-col nc-col-2 nc-offset-6"><div>1/6-B</div></div>
  </div>
</div>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:220px;">
    <div class="nc-container">
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-2 nc-offset-3"><div>1/6-A</div></div>
        <div class="nc-col nc-col-4 nc-offset-1"><div>1/3-B</div></div>
      </div>
      <div class="nc-row nc-row2">
        <div class="nc-col nc-col-2"><div>1/6-A</div></div>
        <div class="nc-col nc-col-2 nc-offset-6"><div>1/6-B</div></div>
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>
<h3>列排列方式</h3>
<div class="nc-container">
  <div class="nc-row nc-row2 nc-content-start">
    <div class="nc-col nc-col-2"><div>1/6-A</div></div>
    <div class="nc-col nc-col-2"><div>1/6-B</div></div>
    <div class="nc-col nc-col-2"><div>1/6-C</div></div>
  </div>
  <div class="nc-row nc-row2 nc-content-center">
    <div class="nc-col nc-col-2"><div>1/6-A</div></div>
    <div class="nc-col nc-col-2"><div>1/6-B</div></div>
    <div class="nc-col nc-col-2"><div>1/6-C</div></div>
  </div>
  <div class="nc-row nc-row2 nc-content-end">
    <div class="nc-col nc-col-2"><div>1/6-A</div></div>
    <div class="nc-col nc-col-2"><div>1/6-B</div></div>
    <div class="nc-col nc-col-2"><div>1/6-C</div></div>
  </div>
  <div class="nc-row nc-row2 nc-content-space-between">
    <div class="nc-col nc-col-2"><div>1/6-A</div></div>
    <div class="nc-col nc-col-2"><div>1/6-B</div></div>
    <div class="nc-col nc-col-2"><div>1/6-C</div></div>
  </div>
  <div class="nc-row nc-row2 nc-content-space-around">
    <div class="nc-col nc-col-2"><div>1/6-A</div></div>
    <div class="nc-col nc-col-2"><div>1/6-B</div></div>
    <div class="nc-col nc-col-2"><div>1/6-C</div></div>
  </div>
</div>
<nc-tab [tabs]="tabItems" [(selectTab)] = "currentTab">
  <div *ngIf="currentTab === 'html'">
    <textarea style="height:220px;">
    <div class="nc-container">
      <div class="nc-row nc-row2 nc-content-start">
        <div class="nc-col nc-col-2"><div>1/6-A</div></div>
        <div class="nc-col nc-col-2"><div>1/6-B</div></div>
        <div class="nc-col nc-col-2"><div>1/6-C</div></div>
      </div>
      <div class="nc-row nc-row2 nc-content-center">
        <div class="nc-col nc-col-2"><div>1/6-A</div></div>
        <div class="nc-col nc-col-2"><div>1/6-B</div></div>
        <div class="nc-col nc-col-2"><div>1/6-C</div></div>
      </div>
      <div class="nc-row nc-row2 nc-content-end">
        <div class="nc-col nc-col-2"><div>1/6-A</div></div>
        <div class="nc-col nc-col-2"><div>1/6-B</div></div>
        <div class="nc-col nc-col-2"><div>1/6-C</div></div>
      </div>
      <div class="nc-row nc-row2 nc-content-space-between">
        <div class="nc-col nc-col-2"><div>1/6-A</div></div>
        <div class="nc-col nc-col-2"><div>1/6-B</div></div>
        <div class="nc-col nc-col-2"><div>1/6-C</div></div>
      </div>
      <div class="nc-row nc-row2 nc-content-space-around">
        <div class="nc-col nc-col-2"><div>1/6-A</div></div>
        <div class="nc-col nc-col-2"><div>1/6-B</div></div>
        <div class="nc-col nc-col-2"><div>1/6-C</div></div>
      </div>
    </div>
    </textarea>
  </div>
</nc-tab>
