/* You can add global styles to this file, and also import other style files */
table {
    margin: 10px 0;
}
table tbody tr td:nth-of-type(2)
{
    word-break: break-all;
}
@media (min-width: 768px) {
    body {
        overflow: hidden;
    }
}
