.confirm {
  padding: 10px 0;
}
.description{
  display:flex;
  margin:auto;
  border:solid 1px #66ccff;
  border-radius:4px;
  background:#e5f7ff;
  padding:8px;
  align-items: center;
}
.description .grade {
  width:20px;
  height:20px;
  text-align:center;
  line-height:20px;
  border-radius:50%;
  font-size: 14px;
}
.description .grade.normal {
  border:solid 1px #0040ff;
  color:#0040ff;
}
.description .grade.major {
  border:solid 1px #ff0000;
  color:#ff0000;
}
.description .text{
  font-size:14px;
  text-align:left;
  margin-left:10px;;
}
form {
  margin:15px auto 15px;
}

.form-group{
  text-align:left;
  height:30px;
  align-items:center;
  margin-bottom:20px;
}
.form-group label{
  width:80px;
  text-align:center;
  height:100%;
  font-size:18px;
  display:inline-block;
}
.form-group label:after{
  content:":"
}
.form-group .group-right{
  height:100%;
  font-size:14px;
  display:inline-block;
}
.form-group .group-right  input{
  height:100%;
  width:360px;
  font-size:14px;
  border:solid 1px  #999999;
  border-radius:4px;
  box-shadow:none;
}
.form-group .group-right input:focus{
  border-color:#0039e6;
}

.form-btn-group {
  margin: 10px;
}

.wenzhang{
  margin:10px;
  line-height:30px;
  text-indent:50px;
}
@media (max-width: 767px) {
  .wenzhang {
    max-height: 500px;
    overflow-y: auto;
  }
}
